body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1069px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19597_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1069px;
  height:645px;
}
#u19597 {
  position:absolute;
  left:0px;
  top:0px;
  width:1069px;
  height:645px;
}
#u19598 {
  position:absolute;
  left:2px;
  top:314px;
  width:1065px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19599 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19600 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19601_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:32px;
}
#u19601 {
  position:absolute;
  left:385px;
  top:344px;
  width:163px;
  height:32px;
}
#u19602 {
  position:absolute;
  left:2px;
  top:8px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19603_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u19603 {
  position:absolute;
  left:548px;
  top:346px;
  width:87px;
  height:30px;
}
#u19604 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19605 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19606_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19606 {
  position:absolute;
  left:578px;
  top:341px;
  width:70px;
  height:15px;
  font-size:12px;
}
#u19607 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u19608_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19608 {
  position:absolute;
  left:578px;
  top:366px;
  width:94px;
  height:15px;
  font-size:12px;
}
#u19609 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u19610 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19611 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19612_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:32px;
}
#u19612 {
  position:absolute;
  left:736px;
  top:343px;
  width:163px;
  height:32px;
}
#u19613 {
  position:absolute;
  left:2px;
  top:8px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u19614 {
  position:absolute;
  left:899px;
  top:345px;
  width:87px;
  height:30px;
}
#u19615 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19616 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19617_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19617 {
  position:absolute;
  left:929px;
  top:340px;
  width:70px;
  height:15px;
  font-size:12px;
}
#u19618 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u19619_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19619 {
  position:absolute;
  left:929px;
  top:365px;
  width:94px;
  height:15px;
  font-size:12px;
}
#u19620 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u19621 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19622 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19623_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:32px;
}
#u19623 {
  position:absolute;
  left:50px;
  top:344px;
  width:163px;
  height:32px;
}
#u19624 {
  position:absolute;
  left:2px;
  top:8px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u19625 {
  position:absolute;
  left:213px;
  top:346px;
  width:87px;
  height:30px;
}
#u19626 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19627 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19628_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19628 {
  position:absolute;
  left:243px;
  top:341px;
  width:70px;
  height:15px;
  font-size:12px;
}
#u19629 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u19630_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19630 {
  position:absolute;
  left:243px;
  top:366px;
  width:94px;
  height:15px;
  font-size:12px;
}
#u19631 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
