body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1074px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u27442_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1074px;
  height:643px;
}
#u27442 {
  position:absolute;
  left:0px;
  top:0px;
  width:1074px;
  height:643px;
}
#u27443 {
  position:absolute;
  left:2px;
  top:314px;
  width:1070px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27444_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:160px;
}
#u27444 {
  position:absolute;
  left:387px;
  top:309px;
  width:300px;
  height:160px;
}
#u27445 {
  position:absolute;
  left:2px;
  top:72px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27446 {
  position:absolute;
  left:313px;
  top:319px;
  width:127px;
  height:16px;
}
#u27447 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u27448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27448 {
  position:absolute;
  left:443px;
  top:316px;
  width:130px;
  height:24px;
}
#u27449 {
  position:absolute;
  left:2px;
  top:4px;
  width:126px;
  word-wrap:break-word;
}
#u27450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27450 {
  position:absolute;
  left:583px;
  top:316px;
  width:130px;
  height:24px;
}
#u27451 {
  position:absolute;
  left:2px;
  top:4px;
  width:126px;
  word-wrap:break-word;
}
#u27452 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:50px;
}
#u27453 {
  position:absolute;
  left:411px;
  top:373px;
  width:188px;
  height:50px;
}
#u27454 {
  position:absolute;
  left:2px;
  top:17px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27455_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:56px;
}
#u27455 {
  position:absolute;
  left:390px;
  top:433px;
  width:231px;
  height:56px;
}
#u27456 {
  position:absolute;
  left:2px;
  top:20px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
