body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1429px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u27902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1238px;
  height:640px;
}
#u27902 {
  position:absolute;
  left:-10px;
  top:0px;
  width:1238px;
  height:640px;
}
#u27903 {
  position:absolute;
  left:2px;
  top:312px;
  width:1234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27904 {
  position:absolute;
  left:1262px;
  top:406px;
  width:177px;
  height:32px;
}
#u27905 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u27906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:24px;
}
#u27906 {
  position:absolute;
  left:1074px;
  top:363px;
  width:236px;
  height:24px;
}
#u27907 {
  position:absolute;
  left:2px;
  top:4px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u27908 {
  position:absolute;
  left:969px;
  top:367px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u27909 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u27910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:26px;
}
#u27910 {
  position:absolute;
  left:998px;
  top:362px;
  width:111px;
  height:26px;
}
#u27911 {
  position:absolute;
  left:2px;
  top:5px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u27912 {
  position:absolute;
  left:1080px;
  top:367px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u27913 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u27914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u27914 {
  position:absolute;
  left:1025px;
  top:367px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u27915 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
