body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1232px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u34853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1232px;
  height:553px;
}
#u34853 {
  position:absolute;
  left:0px;
  top:0px;
  width:1232px;
  height:553px;
}
#u34854 {
  position:absolute;
  left:2px;
  top:268px;
  width:1228px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u34855 {
  position:absolute;
  left:462px;
  top:116px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FF0000;
}
#u34856 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u34857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:17px;
}
#u34857 {
  position:absolute;
  left:385px;
  top:147px;
  width:185px;
  height:17px;
}
#u34858 {
  position:absolute;
  left:2px;
  top:0px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:21px;
}
#u34859 {
  position:absolute;
  left:580px;
  top:141px;
  width:189px;
  height:21px;
}
#u34860 {
  position:absolute;
  left:2px;
  top:2px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:129px;
}
#u34861 {
  position:absolute;
  left:441px;
  top:368px;
  width:392px;
  height:129px;
  font-size:18px;
}
#u34862 {
  position:absolute;
  left:2px;
  top:42px;
  width:388px;
  word-wrap:break-word;
}
