body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1306px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u30961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1306px;
  height:518px;
}
#u30961 {
  position:absolute;
  left:0px;
  top:0px;
  width:1306px;
  height:518px;
}
#u30962 {
  position:absolute;
  left:2px;
  top:251px;
  width:1302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:40px;
}
#u30963 {
  position:absolute;
  left:716px;
  top:244px;
  width:296px;
  height:40px;
}
#u30964 {
  position:absolute;
  left:2px;
  top:12px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:48px;
}
#u30965 {
  position:absolute;
  left:376px;
  top:240px;
  width:302px;
  height:48px;
}
#u30966 {
  position:absolute;
  left:2px;
  top:16px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:47px;
}
#u30967 {
  position:absolute;
  left:24px;
  top:241px;
  width:329px;
  height:47px;
}
#u30968 {
  position:absolute;
  left:2px;
  top:16px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:53px;
}
#u30969 {
  position:absolute;
  left:1063px;
  top:238px;
  width:41px;
  height:53px;
}
#u30970 {
  position:absolute;
  left:2px;
  top:18px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
