body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1065px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u31481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1065px;
  height:523px;
}
#u31481 {
  position:absolute;
  left:0px;
  top:0px;
  width:1065px;
  height:523px;
}
#u31482 {
  position:absolute;
  left:2px;
  top:254px;
  width:1061px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31483_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1026px;
  height:133px;
}
#u31483 {
  position:absolute;
  left:24px;
  top:523px;
  width:1026px;
  height:133px;
}
#u31484 {
  position:absolute;
  left:2px;
  top:58px;
  width:1022px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:28px;
}
#u31485 {
  position:absolute;
  left:916px;
  top:533px;
  width:118px;
  height:28px;
}
#u31486 {
  position:absolute;
  left:2px;
  top:6px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31487 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31488_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u31488 {
  position:absolute;
  left:1006px;
  top:540px;
  width:23px;
  height:20px;
}
#u31489 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31490_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
}
#u31490 {
  position:absolute;
  left:1018px;
  top:535px;
  width:16px;
  height:13px;
  font-size:11px;
  color:#FFFFFF;
  text-align:center;
}
#u31491 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u31492_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31492 {
  position:absolute;
  left:8px;
  top:540px;
  width:110px;
  height:17px;
}
#u31493 {
  position:absolute;
  left:2px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u31494_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u31494 {
  position:absolute;
  left:918px;
  top:540px;
  width:85px;
  height:15px;
  font-size:12px;
}
#u31495 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
