body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1238px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u35490_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1238px;
  height:602px;
}
#u35490 {
  position:absolute;
  left:0px;
  top:0px;
  width:1238px;
  height:602px;
}
#u35491 {
  position:absolute;
  left:2px;
  top:293px;
  width:1234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:47px;
}
#u35492 {
  position:absolute;
  left:34px;
  top:383px;
  width:272px;
  height:47px;
}
#u35493 {
  position:absolute;
  left:2px;
  top:16px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:54px;
}
#u35494 {
  position:absolute;
  left:344px;
  top:376px;
  width:265px;
  height:54px;
}
#u35495 {
  position:absolute;
  left:2px;
  top:19px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35496_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:47px;
}
#u35496 {
  position:absolute;
  left:644px;
  top:383px;
  width:272px;
  height:47px;
}
#u35497 {
  position:absolute;
  left:2px;
  top:16px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35498_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:47px;
}
#u35498 {
  position:absolute;
  left:948px;
  top:383px;
  width:272px;
  height:47px;
}
#u35499 {
  position:absolute;
  left:2px;
  top:16px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
