body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1142px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u35316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1142px;
  height:605px;
}
#u35316 {
  position:absolute;
  left:0px;
  top:0px;
  width:1142px;
  height:605px;
}
#u35317 {
  position:absolute;
  left:2px;
  top:294px;
  width:1138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-decoration:underline;
}
#u35318 {
  position:absolute;
  left:655px;
  top:402px;
  width:49px;
  height:15px;
  font-size:12px;
  text-decoration:underline;
}
#u35319 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u35320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-decoration:underline;
}
#u35320 {
  position:absolute;
  left:655px;
  top:441px;
  width:85px;
  height:15px;
  font-size:12px;
  text-decoration:underline;
}
#u35321 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u35322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:24px;
}
#u35322 {
  position:absolute;
  left:226px;
  top:437px;
  width:280px;
  height:24px;
}
#u35323 {
  position:absolute;
  left:2px;
  top:4px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:24px;
}
#u35324 {
  position:absolute;
  left:791px;
  top:437px;
  width:333px;
  height:24px;
}
#u35325 {
  position:absolute;
  left:2px;
  top:4px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u35326 {
  position:absolute;
  left:177px;
  top:357px;
  width:52px;
  height:25px;
  font-size:11px;
}
#u35327 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u35328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u35328 {
  position:absolute;
  left:177px;
  top:397px;
  width:52px;
  height:25px;
  font-size:11px;
}
#u35329 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u35330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u35330 {
  position:absolute;
  left:177px;
  top:432px;
  width:52px;
  height:25px;
  font-size:11px;
}
#u35331 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u35332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u35332 {
  position:absolute;
  left:237px;
  top:313px;
  width:233px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u35333 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  white-space:nowrap;
}
#u35334_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:48px;
  height:25px;
}
#u35334 {
  position:absolute;
  left:205px;
  top:346px;
  width:36px;
  height:5px;
  -webkit-transform:rotate(339deg);
  -moz-transform:rotate(339deg);
  -ms-transform:rotate(339deg);
  transform:rotate(339deg);
  color:#FF0000;
}
#u35335 {
  position:absolute;
  left:2px;
  top:-6px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
