body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1309px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u31388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1309px;
  height:644px;
}
#u31388 {
  position:absolute;
  left:0px;
  top:0px;
  width:1309px;
  height:644px;
}
#u31389 {
  position:absolute;
  left:2px;
  top:314px;
  width:1305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:2px;
}
#u31390 {
  position:absolute;
  left:364px;
  top:199px;
  width:527px;
  height:1px;
}
#u31391 {
  position:absolute;
  left:2px;
  top:-8px;
  width:523px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:2px;
}
#u31392 {
  position:absolute;
  left:364px;
  top:222px;
  width:527px;
  height:1px;
}
#u31393 {
  position:absolute;
  left:2px;
  top:-8px;
  width:523px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:2px;
}
#u31394 {
  position:absolute;
  left:357px;
  top:245px;
  width:527px;
  height:1px;
}
#u31395 {
  position:absolute;
  left:2px;
  top:-8px;
  width:523px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:2px;
}
#u31396 {
  position:absolute;
  left:590px;
  top:138px;
  width:92px;
  height:1px;
}
#u31397 {
  position:absolute;
  left:2px;
  top:-8px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:2px;
}
#u31398 {
  position:absolute;
  left:550px;
  top:306px;
  width:164px;
  height:1px;
}
#u31399 {
  position:absolute;
  left:2px;
  top:-8px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
