body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:837px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u35223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:797px;
  height:336px;
}
#u35223 {
  position:absolute;
  left:0px;
  top:0px;
  width:797px;
  height:336px;
}
#u35224 {
  position:absolute;
  left:2px;
  top:160px;
  width:793px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:235px;
}
#u35225 {
  position:absolute;
  left:207px;
  top:330px;
  width:1px;
  height:234px;
}
#u35226 {
  position:absolute;
  left:2px;
  top:109px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:27px;
}
#u35227 {
  position:absolute;
  left:271px;
  top:191px;
  width:111px;
  height:27px;
  color:#FF0000;
}
#u35228 {
  position:absolute;
  left:2px;
  top:6px;
  width:107px;
  word-wrap:break-word;
}
#u35229 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:200px;
}
#u35230 {
  position:absolute;
  left:62px;
  top:557px;
  width:719px;
  height:200px;
}
#u35231 {
  position:absolute;
  left:2px;
  top:92px;
  width:715px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:27px;
}
#u35232 {
  position:absolute;
  left:263px;
  top:568px;
  width:143px;
  height:27px;
  color:#FF0000;
}
#u35233 {
  position:absolute;
  left:2px;
  top:6px;
  width:139px;
  word-wrap:break-word;
}
#u35234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:27px;
}
#u35234 {
  position:absolute;
  left:455px;
  top:40px;
  width:125px;
  height:27px;
  color:#FF0000;
}
#u35235 {
  position:absolute;
  left:2px;
  top:6px;
  width:121px;
  word-wrap:break-word;
}
#u35236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:584px;
  height:329px;
}
#u35236 {
  position:absolute;
  left:252px;
  top:595px;
  width:584px;
  height:329px;
}
#u35237 {
  position:absolute;
  left:2px;
  top:156px;
  width:580px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:584px;
  height:329px;
}
#u35238 {
  position:absolute;
  left:253px;
  top:218px;
  width:584px;
  height:329px;
}
#u35239 {
  position:absolute;
  left:2px;
  top:156px;
  width:580px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:26px;
}
#u35240 {
  position:absolute;
  left:263px;
  top:302px;
  width:75px;
  height:26px;
}
#u35241 {
  position:absolute;
  left:2px;
  top:5px;
  width:71px;
  word-wrap:break-word;
}
