body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1061px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1061px;
  height:632px;
}
#u22927 {
  position:absolute;
  left:0px;
  top:0px;
  width:1061px;
  height:632px;
}
#u22928 {
  position:absolute;
  left:2px;
  top:308px;
  width:1057px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u22929 {
  position:absolute;
  left:895px;
  top:219px;
  width:143px;
  height:30px;
}
#u22930 {
  position:absolute;
  left:2px;
  top:7px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u22931 {
  position:absolute;
  left:904px;
  top:226px;
  width:117px;
  height:15px;
  font-size:12px;
}
#u22932 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u22933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:37px;
}
#u22933 {
  position:absolute;
  left:916px;
  top:292px;
  width:116px;
  height:37px;
}
#u22934 {
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:29px;
}
#u22935 {
  position:absolute;
  left:835px;
  top:296px;
  width:107px;
  height:29px;
}
#u22936 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF6600;
}
#u22937 {
  position:absolute;
  left:964px;
  top:303px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#FF6600;
}
#u22938 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u22939 {
  position:absolute;
  left:296px;
  top:118px;
  width:548px;
  height:627px;
  overflow:hidden;
  visibility:hidden;
}
#u22939_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:627px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u22939_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:549px;
  height:623px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22940 {
  position:absolute;
  left:0px;
  top:0px;
  width:549px;
  height:623px;
}
#u22941 {
  position:absolute;
  left:2px;
  top:304px;
  width:545px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22942 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u22943 {
  position:absolute;
  left:10px;
  top:9px;
  width:79px;
  height:16px;
  font-size:13px;
}
#u22944 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u22945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:17px;
}
#u22945 {
  position:absolute;
  left:497px;
  top:12px;
  width:18px;
  height:17px;
}
#u22946 {
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22945_ann {
  position:absolute;
  left:508px;
  top:8px;
  width:1px;
  height:1px;
}
#u22947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:2px;
}
#u22947 {
  position:absolute;
  left:10px;
  top:30px;
  width:505px;
  height:1px;
}
#u22948 {
  position:absolute;
  left:2px;
  top:-8px;
  width:501px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22949 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22950 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u22951 {
  position:absolute;
  left:17px;
  top:67px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u22952 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u22953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#515151;
}
#u22953 {
  position:absolute;
  left:92px;
  top:66px;
  width:155px;
  height:15px;
  font-size:12px;
  color:#515151;
}
#u22954 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u22955 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22956 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u22957 {
  position:absolute;
  left:17px;
  top:102px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u22958 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u22959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:132px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22959 {
  position:absolute;
  left:87px;
  top:105px;
  width:376px;
  height:132px;
}
#u22960 {
  position:absolute;
  left:2px;
  top:58px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22961 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u22962 {
  position:absolute;
  left:93px;
  top:113px;
  width:236px;
  height:15px;
  font-size:12px;
}
#u22963 {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  word-wrap:break-word;
}
#u22964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u22964 {
  position:absolute;
  left:93px;
  top:138px;
  width:236px;
  height:15px;
  font-size:12px;
}
#u22965 {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  word-wrap:break-word;
}
#u22966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u22966 {
  position:absolute;
  left:93px;
  top:163px;
  width:236px;
  height:15px;
  font-size:12px;
}
#u22967 {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  word-wrap:break-word;
}
#u22968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
}
#u22968 {
  position:absolute;
  left:17px;
  top:38px;
  width:180px;
  height:16px;
  font-size:13px;
  color:#FFFFFF;
}
#u22969 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u22970 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u22971 {
  position:absolute;
  left:20px;
  top:250px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u22972 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u22973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u22973 {
  position:absolute;
  left:108px;
  top:250px;
  width:169px;
  height:15px;
  font-size:12px;
}
#u22974 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u22975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-decoration:underline;
  color:#FF9900;
}
#u22975 {
  position:absolute;
  left:494px;
  top:250px;
  width:25px;
  height:15px;
  font-size:12px;
  text-decoration:underline;
  color:#FF9900;
}
#u22976 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u22977 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22978 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u22979 {
  position:absolute;
  left:19px;
  top:328px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u22980 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u22981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#515151;
}
#u22981 {
  position:absolute;
  left:94px;
  top:327px;
  width:155px;
  height:15px;
  font-size:12px;
  color:#515151;
}
#u22982 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u22983 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22984 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u22985 {
  position:absolute;
  left:19px;
  top:359px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u22986 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u22987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22987 {
  position:absolute;
  left:89px;
  top:431px;
  width:338px;
  height:102px;
}
#u22988 {
  position:absolute;
  left:2px;
  top:43px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22989 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u22990 {
  position:absolute;
  left:105px;
  top:447px;
  width:236px;
  height:15px;
  font-size:12px;
}
#u22991 {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  word-wrap:break-word;
}
#u22992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u22992 {
  position:absolute;
  left:105px;
  top:472px;
  width:236px;
  height:15px;
  font-size:12px;
}
#u22993 {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  word-wrap:break-word;
}
#u22994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u22994 {
  position:absolute;
  left:105px;
  top:497px;
  width:236px;
  height:15px;
  font-size:12px;
}
#u22995 {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  word-wrap:break-word;
}
#u22996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
}
#u22996 {
  position:absolute;
  left:19px;
  top:297px;
  width:167px;
  height:16px;
  font-size:13px;
  color:#FFFFFF;
}
#u22997 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u22998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:2px;
}
#u22998 {
  position:absolute;
  left:17px;
  top:284px;
  width:498px;
  height:1px;
}
#u22999 {
  position:absolute;
  left:2px;
  top:-8px;
  width:494px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23000 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23001 {
  position:absolute;
  left:30px;
  top:547px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u23002 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u23003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23003 {
  position:absolute;
  left:118px;
  top:547px;
  width:169px;
  height:15px;
  font-size:12px;
}
#u23004 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u23005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-decoration:underline;
  color:#FF9900;
}
#u23005 {
  position:absolute;
  left:504px;
  top:547px;
  width:25px;
  height:15px;
  font-size:12px;
  text-decoration:underline;
  color:#FF9900;
}
#u23006 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u23007 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:34px;
}
#u23008 {
  position:absolute;
  left:53px;
  top:582px;
  width:98px;
  height:34px;
  color:#FFFFFF;
}
#u23009 {
  position:absolute;
  left:2px;
  top:9px;
  width:94px;
  word-wrap:break-word;
}
#u23010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:34px;
}
#u23010 {
  position:absolute;
  left:197px;
  top:582px;
  width:98px;
  height:34px;
  color:#FFFFFF;
}
#u23011 {
  position:absolute;
  left:2px;
  top:9px;
  width:94px;
  word-wrap:break-word;
}
#u23012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23012 {
  position:absolute;
  left:336px;
  top:591px;
  width:85px;
  height:16px;
}
#u23013 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u23015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23015 {
  position:absolute;
  left:87px;
  top:360px;
  width:102px;
  height:25px;
  font-size:12px;
}
#u23016 {
  position:absolute;
  left:2px;
  top:5px;
  width:98px;
  word-wrap:break-word;
}
#u23017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23017 {
  position:absolute;
  left:230px;
  top:365px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u23018 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u23019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23019 {
  position:absolute;
  left:87px;
  top:391px;
  width:102px;
  height:25px;
  font-size:12px;
}
#u23020 {
  position:absolute;
  left:2px;
  top:5px;
  width:98px;
  word-wrap:break-word;
}
#u23021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23021 {
  position:absolute;
  left:230px;
  top:396px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u23022 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u23023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23023 {
  position:absolute;
  left:293px;
  top:360px;
  width:102px;
  height:25px;
  font-size:12px;
}
#u23024 {
  position:absolute;
  left:2px;
  top:5px;
  width:98px;
  word-wrap:break-word;
}
#u23025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23025 {
  position:absolute;
  left:436px;
  top:365px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u23026 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u23027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23027 {
  position:absolute;
  left:293px;
  top:391px;
  width:102px;
  height:25px;
  font-size:12px;
}
#u23028 {
  position:absolute;
  left:2px;
  top:5px;
  width:98px;
  word-wrap:break-word;
}
#u23029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23029 {
  position:absolute;
  left:436px;
  top:396px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u23030 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u23031 {
  position:absolute;
  left:-5px;
  top:67px;
  width:549px;
  height:466px;
  overflow:hidden;
  visibility:hidden;
}
#u23031_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:549px;
  height:466px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u23031_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:435px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23032 {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:435px;
}
#u23033 {
  position:absolute;
  left:2px;
  top:210px;
  width:539px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23034 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u23035 {
  position:absolute;
  left:10px;
  top:9px;
  width:79px;
  height:16px;
  font-size:13px;
}
#u23036 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u23037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:17px;
}
#u23037 {
  position:absolute;
  left:508px;
  top:11px;
  width:18px;
  height:17px;
}
#u23038 {
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23037_ann {
  position:absolute;
  left:519px;
  top:7px;
  width:1px;
  height:1px;
}
#u23039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:2px;
}
#u23039 {
  position:absolute;
  left:10px;
  top:30px;
  width:413px;
  height:1px;
}
#u23040 {
  position:absolute;
  left:2px;
  top:-8px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23041 {
  position:absolute;
  left:17px;
  top:47px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u23042 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u23043 {
  position:absolute;
  left:89px;
  top:42px;
  width:178px;
  height:25px;
}
#u23043_input {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23044 {
  position:absolute;
  left:17px;
  top:82px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u23045 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u23046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23046 {
  position:absolute;
  left:269px;
  top:47px;
  width:13px;
  height:16px;
}
#u23047 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u23048 {
  position:absolute;
  left:89px;
  top:218px;
  width:430px;
  height:86px;
}
#u23048_input {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:86px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#C9C9C9;
}
#u23049 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:24px;
}
#u23050 {
  position:absolute;
  left:20px;
  top:315px;
  width:91px;
  height:24px;
  color:#FFFFFF;
}
#u23051 {
  position:absolute;
  left:2px;
  top:4px;
  width:87px;
  word-wrap:break-word;
}
#u23052 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:31px;
}
#u23053 {
  position:absolute;
  left:17px;
  top:348px;
  width:364px;
  height:31px;
}
#u23054 {
  position:absolute;
  left:2px;
  top:8px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u23055 {
  position:absolute;
  left:493px;
  top:348px;
  width:26px;
  height:25px;
}
#u23056 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23057 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:34px;
}
#u23058 {
  position:absolute;
  left:168px;
  top:390px;
  width:98px;
  height:34px;
  color:#FFFFFF;
}
#u23059 {
  position:absolute;
  left:2px;
  top:9px;
  width:94px;
  word-wrap:break-word;
}
#u23060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23060 {
  position:absolute;
  left:332px;
  top:399px;
  width:29px;
  height:16px;
}
#u23061 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u23063 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23064 {
  position:absolute;
  left:89px;
  top:82px;
  width:68px;
  height:25px;
  font-size:12px;
}
#u23065 {
  position:absolute;
  left:2px;
  top:5px;
  width:64px;
  word-wrap:break-word;
}
#u23066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23066 {
  position:absolute;
  left:164px;
  top:87px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u23067 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u23068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23068 {
  position:absolute;
  left:209px;
  top:87px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u23069 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u23070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23070 {
  position:absolute;
  left:249px;
  top:87px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u23071 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u23072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23072 {
  position:absolute;
  left:164px;
  top:118px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u23073 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u23074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23074 {
  position:absolute;
  left:164px;
  top:153px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u23075 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u23076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23076 {
  position:absolute;
  left:209px;
  top:118px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u23077 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u23078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23078 {
  position:absolute;
  left:209px;
  top:153px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u23079 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u23080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23080 {
  position:absolute;
  left:249px;
  top:118px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u23081 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u23082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23082 {
  position:absolute;
  left:249px;
  top:153px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u23083 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u23084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23084 {
  position:absolute;
  left:89px;
  top:113px;
  width:68px;
  height:25px;
  font-size:12px;
}
#u23085 {
  position:absolute;
  left:2px;
  top:5px;
  width:64px;
  word-wrap:break-word;
}
#u23086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23086 {
  position:absolute;
  left:89px;
  top:148px;
  width:68px;
  height:25px;
  font-size:12px;
}
#u23087 {
  position:absolute;
  left:2px;
  top:5px;
  width:64px;
  word-wrap:break-word;
}
#u23088 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23089 {
  position:absolute;
  left:370px;
  top:87px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u23090 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u23091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23091 {
  position:absolute;
  left:415px;
  top:87px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u23092 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u23093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23093 {
  position:absolute;
  left:455px;
  top:87px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u23094 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u23095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23095 {
  position:absolute;
  left:295px;
  top:82px;
  width:68px;
  height:25px;
  font-size:12px;
}
#u23096 {
  position:absolute;
  left:2px;
  top:5px;
  width:64px;
  word-wrap:break-word;
}
#u23097 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23098 {
  position:absolute;
  left:295px;
  top:114px;
  width:68px;
  height:25px;
  font-size:12px;
}
#u23099 {
  position:absolute;
  left:2px;
  top:5px;
  width:64px;
  word-wrap:break-word;
}
#u23100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23100 {
  position:absolute;
  left:370px;
  top:119px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u23101 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u23102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23102 {
  position:absolute;
  left:415px;
  top:119px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u23103 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u23104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23104 {
  position:absolute;
  left:455px;
  top:119px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u23105 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u23106 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23107 {
  position:absolute;
  left:295px;
  top:149px;
  width:68px;
  height:25px;
  font-size:12px;
}
#u23108 {
  position:absolute;
  left:2px;
  top:5px;
  width:64px;
  word-wrap:break-word;
}
#u23109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23109 {
  position:absolute;
  left:370px;
  top:154px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u23110 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u23111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23111 {
  position:absolute;
  left:415px;
  top:154px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u23112 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u23113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23113 {
  position:absolute;
  left:455px;
  top:154px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u23114 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u23115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
}
#u23115 {
  position:absolute;
  left:74px;
  top:211px;
  width:39px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u23116 {
  position:absolute;
  left:2px;
  top:2px;
  width:35px;
  word-wrap:break-word;
}
