body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1242px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u35289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1242px;
  height:594px;
}
#u35289 {
  position:absolute;
  left:0px;
  top:0px;
  width:1242px;
  height:594px;
}
#u35290 {
  position:absolute;
  left:2px;
  top:289px;
  width:1238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35291 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35292 {
  position:absolute;
  left:547px;
  top:283px;
  width:9px;
  height:16px;
}
#u35293 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u35294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35294 {
  position:absolute;
  left:566px;
  top:283px;
  width:39px;
  height:16px;
}
#u35295 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u35296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35296 {
  position:absolute;
  left:566px;
  top:257px;
  width:43px;
  height:16px;
}
#u35297 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
