body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1068px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1068px;
  height:618px;
}
#u22332 {
  position:absolute;
  left:0px;
  top:0px;
  width:1068px;
  height:618px;
}
#u22333 {
  position:absolute;
  left:2px;
  top:301px;
  width:1064px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u22334 {
  position:absolute;
  left:742px;
  top:262px;
  width:172px;
  height:15px;
  font-size:12px;
}
#u22335 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  white-space:nowrap;
}
#u22334_ann {
  position:absolute;
  left:907px;
  top:258px;
  width:1px;
  height:1px;
}
#u22336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:29px;
}
#u22336 {
  position:absolute;
  left:716px;
  top:287px;
  width:176px;
  height:29px;
  font-size:12px;
}
#u22337 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  word-wrap:break-word;
}
#u22338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:29px;
}
#u22338 {
  position:absolute;
  left:887px;
  top:210px;
  width:149px;
  height:29px;
  font-size:12px;
}
#u22339 {
  position:absolute;
  left:2px;
  top:7px;
  width:145px;
  word-wrap:break-word;
}
#u22340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:29px;
}
#u22340 {
  position:absolute;
  left:887px;
  top:353px;
  width:149px;
  height:29px;
  font-size:12px;
}
#u22341 {
  position:absolute;
  left:2px;
  top:7px;
  width:145px;
  word-wrap:break-word;
}
#u22342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:29px;
}
#u22342 {
  position:absolute;
  left:740px;
  top:428px;
  width:176px;
  height:29px;
  font-size:12px;
}
#u22343 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  word-wrap:break-word;
}
#u22344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u22344 {
  position:absolute;
  left:807px;
  top:408px;
  width:172px;
  height:15px;
  font-size:12px;
}
#u22345 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  white-space:nowrap;
}
#u22344_ann {
  position:absolute;
  left:972px;
  top:404px;
  width:1px;
  height:1px;
}
#u22346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u22346 {
  position:absolute;
  left:91px;
  top:199px;
  width:25px;
  height:22px;
  font-size:12px;
  color:#FFFFFF;
}
#u22347 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u22348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u22348 {
  position:absolute;
  left:91px;
  top:343px;
  width:25px;
  height:22px;
  font-size:12px;
  color:#FFFFFF;
}
#u22349 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
