body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1090px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1081px;
  height:614px;
}
#u23225 {
  position:absolute;
  left:0px;
  top:0px;
  width:1081px;
  height:614px;
}
#u23226 {
  position:absolute;
  left:2px;
  top:299px;
  width:1077px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF9933;
}
#u23227 {
  position:absolute;
  left:30px;
  top:561px;
  width:149px;
  height:26px;
  font-size:12px;
  color:#FF9933;
}
#u23228 {
  position:absolute;
  left:2px;
  top:6px;
  width:145px;
  word-wrap:break-word;
}
#u23229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1081px;
  height:614px;
}
#u23229 {
  position:absolute;
  left:0px;
  top:0px;
  width:1081px;
  height:614px;
}
#u23230 {
  position:absolute;
  left:2px;
  top:299px;
  width:1077px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 0, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF6600;
}
#u23231 {
  position:absolute;
  left:313px;
  top:558px;
  width:88px;
  height:31px;
  font-size:12px;
  color:#FF6600;
}
#u23232 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u23233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1090px;
  height:170px;
}
#u23233 {
  position:absolute;
  left:0px;
  top:493px;
  width:1090px;
  height:170px;
}
#u23234 {
  position:absolute;
  left:2px;
  top:77px;
  width:1086px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23235 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23236 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 0, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF6600;
}
#u23237 {
  position:absolute;
  left:927px;
  top:481px;
  width:115px;
  height:31px;
  font-size:12px;
  color:#FF6600;
}
#u23238 {
  position:absolute;
  left:2px;
  top:8px;
  width:111px;
  word-wrap:break-word;
}
#u23239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23239 {
  position:absolute;
  left:44px;
  top:496px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23240 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23242 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23243 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23244 {
  position:absolute;
  left:31px;
  top:763px;
  width:88px;
  height:15px;
  font-size:12px;
}
#u23245 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u23246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23246 {
  position:absolute;
  left:188px;
  top:763px;
  width:142px;
  height:15px;
  font-size:12px;
}
#u23247 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u23248 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23249 {
  position:absolute;
  left:31px;
  top:739px;
  width:88px;
  height:15px;
  font-size:12px;
}
#u23250 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u23251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23251 {
  position:absolute;
  left:188px;
  top:739px;
  width:154px;
  height:15px;
  font-size:12px;
}
#u23252 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
#u23253 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23254 {
  position:absolute;
  left:31px;
  top:717px;
  width:88px;
  height:15px;
  font-size:12px;
}
#u23255 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u23256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23256 {
  position:absolute;
  left:188px;
  top:717px;
  width:207px;
  height:15px;
  font-size:12px;
}
#u23257 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  white-space:nowrap;
}
#u23258 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23259 {
  position:absolute;
  left:31px;
  top:655px;
  width:88px;
  height:15px;
  font-size:12px;
}
#u23260 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u23261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23261 {
  position:absolute;
  left:188px;
  top:655px;
  width:171px;
  height:15px;
  font-size:12px;
}
#u23262 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u23263 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23264 {
  position:absolute;
  left:31px;
  top:633px;
  width:88px;
  height:15px;
  font-size:12px;
}
#u23265 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u23266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23266 {
  position:absolute;
  left:188px;
  top:633px;
  width:73px;
  height:15px;
  font-size:12px;
}
#u23267 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u23268 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23269 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23270 {
  position:absolute;
  left:31px;
  top:548px;
  width:88px;
  height:15px;
  font-size:12px;
}
#u23271 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u23272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23272 {
  position:absolute;
  left:188px;
  top:548px;
  width:350px;
  height:15px;
  font-size:12px;
}
#u23273 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  white-space:nowrap;
}
#u23274 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23275 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23276 {
  position:absolute;
  left:31px;
  top:529px;
  width:88px;
  height:15px;
  font-size:12px;
}
#u23277 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u23278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23278 {
  position:absolute;
  left:188px;
  top:529px;
  width:193px;
  height:15px;
  font-size:12px;
}
#u23279 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u23280 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23281 {
  position:absolute;
  left:31px;
  top:611px;
  width:88px;
  height:15px;
  font-size:12px;
}
#u23282 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u23283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23283 {
  position:absolute;
  left:188px;
  top:611px;
  width:195px;
  height:15px;
  font-size:12px;
}
#u23284 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  white-space:nowrap;
}
#u23285 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23286 {
  position:absolute;
  left:31px;
  top:590px;
  width:88px;
  height:15px;
  font-size:12px;
}
#u23287 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u23288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23288 {
  position:absolute;
  left:188px;
  top:590px;
  width:183px;
  height:15px;
  font-size:12px;
}
#u23289 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u23290 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23291 {
  position:absolute;
  left:31px;
  top:569px;
  width:88px;
  height:15px;
  font-size:12px;
}
#u23292 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u23293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23293 {
  position:absolute;
  left:188px;
  top:569px;
  width:123px;
  height:15px;
  font-size:12px;
}
#u23294 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u23295 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23296 {
  position:absolute;
  left:31px;
  top:788px;
  width:88px;
  height:15px;
  font-size:12px;
}
#u23297 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u23298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23298 {
  position:absolute;
  left:188px;
  top:788px;
  width:207px;
  height:15px;
  font-size:12px;
}
#u23299 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  white-space:nowrap;
}
#u23300 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23301 {
  position:absolute;
  left:31px;
  top:809px;
  width:88px;
  height:15px;
  font-size:12px;
}
#u23302 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u23303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23303 {
  position:absolute;
  left:188px;
  top:809px;
  width:142px;
  height:15px;
  font-size:12px;
}
#u23304 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u23305 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23306 {
  position:absolute;
  left:31px;
  top:675px;
  width:88px;
  height:15px;
  font-size:12px;
}
#u23307 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u23308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23308 {
  position:absolute;
  left:188px;
  top:675px;
  width:205px;
  height:15px;
  font-size:12px;
}
#u23309 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
#u23310 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23311 {
  position:absolute;
  left:30px;
  top:696px;
  width:88px;
  height:15px;
  font-size:12px;
}
#u23312 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u23313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23313 {
  position:absolute;
  left:187px;
  top:696px;
  width:217px;
  height:15px;
  font-size:12px;
}
#u23314 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u23315 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1090px;
  height:108px;
}
#u23317 {
  position:absolute;
  left:0px;
  top:849px;
  width:1090px;
  height:108px;
}
#u23318 {
  position:absolute;
  left:2px;
  top:46px;
  width:1086px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF6600;
}
#u23319 {
  position:absolute;
  left:299px;
  top:901px;
  width:138px;
  height:28px;
  font-size:12px;
  color:#FF6600;
}
#u23320 {
  position:absolute;
  left:2px;
  top:6px;
  width:134px;
  word-wrap:break-word;
}
#u23321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:53px;
}
#u23321 {
  position:absolute;
  left:290px;
  top:881px;
  width:161px;
  height:53px;
}
#u23322 {
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u23323 {
  position:absolute;
  left:30px;
  top:896px;
  width:161px;
  height:38px;
  font-size:12px;
  color:#FFFFFF;
}
#u23324 {
  position:absolute;
  left:2px;
  top:12px;
  width:157px;
  word-wrap:break-word;
}
