body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:817px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u35004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:797px;
  height:336px;
}
#u35004 {
  position:absolute;
  left:0px;
  top:0px;
  width:797px;
  height:336px;
}
#u35005 {
  position:absolute;
  left:2px;
  top:160px;
  width:793px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:200px;
}
#u35006 {
  position:absolute;
  left:61px;
  top:531px;
  width:719px;
  height:200px;
}
#u35007 {
  position:absolute;
  left:2px;
  top:92px;
  width:715px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:202px;
}
#u35008 {
  position:absolute;
  left:207px;
  top:330px;
  width:1px;
  height:201px;
}
#u35009 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35010 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35011 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:573px;
  height:317px;
}
#u35012 {
  position:absolute;
  left:244px;
  top:564px;
  width:573px;
  height:317px;
}
#u35013 {
  position:absolute;
  left:2px;
  top:150px;
  width:569px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35014 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35015 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
}
#u35016 {
  position:absolute;
  left:268px;
  top:677px;
  width:81px;
  height:23px;
}
#u35017 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u35018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
}
#u35018 {
  position:absolute;
  left:281px;
  top:758px;
  width:81px;
  height:23px;
}
#u35019 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u35020 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35021 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:573px;
  height:317px;
}
#u35022 {
  position:absolute;
  left:237px;
  top:214px;
  width:573px;
  height:317px;
}
#u35023 {
  position:absolute;
  left:2px;
  top:150px;
  width:569px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35024 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35025 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
}
#u35026 {
  position:absolute;
  left:261px;
  top:327px;
  width:81px;
  height:23px;
}
#u35027 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u35028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
}
#u35028 {
  position:absolute;
  left:274px;
  top:408px;
  width:81px;
  height:23px;
}
#u35029 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
