body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1234px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u35849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1234px;
  height:635px;
}
#u35849 {
  position:absolute;
  left:0px;
  top:0px;
  width:1234px;
  height:635px;
}
#u35850 {
  position:absolute;
  left:2px;
  top:310px;
  width:1230px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:29px;
}
#u35851 {
  position:absolute;
  left:1060px;
  top:284px;
  width:125px;
  height:29px;
}
#u35852 {
  position:absolute;
  left:2px;
  top:6px;
  width:121px;
  word-wrap:break-word;
}
#u35853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:375px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35853 {
  position:absolute;
  left:366px;
  top:175px;
  width:459px;
  height:375px;
}
#u35854 {
  position:absolute;
  left:2px;
  top:180px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35855 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u35856 {
  position:absolute;
  left:380px;
  top:187px;
  width:118px;
  height:16px;
  font-size:13px;
}
#u35857 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u35858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:2px;
}
#u35858 {
  position:absolute;
  left:380px;
  top:210px;
  width:432px;
  height:1px;
}
#u35859 {
  position:absolute;
  left:2px;
  top:-8px;
  width:428px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35860 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35861 {
  position:absolute;
  left:436px;
  top:508px;
  width:148px;
  height:24px;
}
#u35862 {
  position:absolute;
  left:2px;
  top:4px;
  width:144px;
  word-wrap:break-word;
}
#u35863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35863 {
  position:absolute;
  left:644px;
  top:508px;
  width:99px;
  height:24px;
}
#u35864 {
  position:absolute;
  left:2px;
  top:4px;
  width:95px;
  word-wrap:break-word;
}
#u35865 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:168px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u35866 {
  position:absolute;
  left:386px;
  top:323px;
  width:422px;
  height:168px;
  font-size:12px;
}
#u35867 {
  position:absolute;
  left:2px;
  top:76px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35868 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35869 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#D7D7D7;
  text-align:left;
}
#u35870 {
  position:absolute;
  left:402px;
  top:405px;
  width:377px;
  height:74px;
  font-size:12px;
  color:#D7D7D7;
  text-align:left;
}
#u35871 {
  position:absolute;
  left:2px;
  top:2px;
  width:373px;
  word-wrap:break-word;
}
#u35872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u35872 {
  position:absolute;
  left:402px;
  top:360px;
  width:120px;
  height:15px;
  font-size:12px;
}
#u35873 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u35874 {
  position:absolute;
  left:402px;
  top:382px;
  width:155px;
  height:16px;
  font-size:12px;
}
#u35875 {
  position:absolute;
  left:16px;
  top:0px;
  width:137px;
  word-wrap:break-word;
}
#u35874_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u35876 {
  position:absolute;
  left:593px;
  top:382px;
  width:170px;
  height:16px;
  font-size:12px;
}
#u35877 {
  position:absolute;
  left:16px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u35876_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u35878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u35878 {
  position:absolute;
  left:402px;
  top:335px;
  width:120px;
  height:15px;
  font-size:12px;
}
#u35879 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u35880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u35880 {
  position:absolute;
  left:532px;
  top:335px;
  width:258px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u35881 {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  white-space:nowrap;
}
#u35882 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35883 {
  position:absolute;
  left:386px;
  top:221px;
  width:422px;
  height:90px;
}
#u35884 {
  position:absolute;
  left:2px;
  top:37px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u35885 {
  position:absolute;
  left:390px;
  top:247px;
  width:410px;
  height:60px;
  font-size:12px;
}
#u35886 {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  word-wrap:break-word;
}
#u35887 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u35888 {
  position:absolute;
  left:391px;
  top:225px;
  width:40px;
  height:16px;
  font-size:13px;
}
#u35889 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u35890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:2px;
}
#u35890 {
  position:absolute;
  left:391px;
  top:243px;
  width:27px;
  height:1px;
  color:#BCBCBC;
}
#u35891 {
  position:absolute;
  left:2px;
  top:-8px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35892 {
  position:absolute;
  left:1060px;
  top:313px;
  width:125px;
  height:54px;
}
#u35893 {
  position:absolute;
  left:2px;
  top:19px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u35894 {
  position:absolute;
  left:1068px;
  top:323px;
  width:109px;
  height:15px;
  font-size:12px;
}
#u35895 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u35896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u35896 {
  position:absolute;
  left:1068px;
  top:345px;
  width:97px;
  height:15px;
  font-size:12px;
}
#u35897 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u35898 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:319px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35899 {
  position:absolute;
  left:348px;
  top:598px;
  width:366px;
  height:319px;
}
#u35900 {
  position:absolute;
  left:2px;
  top:152px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35901 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35902 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u35903 {
  position:absolute;
  left:382px;
  top:647px;
  width:155px;
  height:16px;
  color:#FF0000;
}
#u35904 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u35905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35905 {
  position:absolute;
  left:382px;
  top:700px;
  width:276px;
  height:16px;
}
#u35906 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  white-space:nowrap;
}
#u35907_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:33px;
  height:22px;
}
#u35907p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:24px;
  height:2px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u35907p000_img {
  position:absolute;
  left:-6px;
  top:-16px;
  width:36px;
  height:24px;
}
#u35907p001 {
  position:absolute;
  left:1px;
  top:-3px;
  width:20px;
  height:20px;
}
#u35907p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:32px;
  height:40px;
}
#u35907.compound {
  width:0px;
  height:0px;
}
#u35907 {
  position:absolute;
  left:442px;
  top:683px;
  width:22px;
  height:2px;
}
#u35908 {
  position:absolute;
  left:2px;
  top:-7px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35909 {
  position:absolute;
  left:382px;
  top:756px;
  width:225px;
  height:16px;
}
#u35910 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u35911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35911 {
  position:absolute;
  left:381px;
  top:802px;
  width:178px;
  height:16px;
}
#u35912 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  white-space:nowrap;
}
#u35913_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:33px;
  height:22px;
}
#u35913p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:24px;
  height:2px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u35913p000_img {
  position:absolute;
  left:-6px;
  top:-15px;
  width:36px;
  height:22px;
}
#u35913p001 {
  position:absolute;
  left:1px;
  top:-3px;
  width:20px;
  height:20px;
}
#u35913p001_img {
  position:absolute;
  left:-1px;
  top:-11px;
  width:32px;
  height:42px;
}
#u35913.compound {
  width:0px;
  height:0px;
}
#u35913 {
  position:absolute;
  left:442px;
  top:734px;
  width:22px;
  height:2px;
}
#u35914 {
  position:absolute;
  left:2px;
  top:-7px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35915_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:33px;
  height:22px;
}
#u35915p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:24px;
  height:2px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u35915p000_img {
  position:absolute;
  left:-6px;
  top:-16px;
  width:36px;
  height:24px;
}
#u35915p001 {
  position:absolute;
  left:1px;
  top:-3px;
  width:20px;
  height:20px;
}
#u35915p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:32px;
  height:40px;
}
#u35915.compound {
  width:0px;
  height:0px;
}
#u35915 {
  position:absolute;
  left:442px;
  top:787px;
  width:22px;
  height:2px;
}
#u35916 {
  position:absolute;
  left:2px;
  top:-7px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u35917 {
  position:absolute;
  left:349px;
  top:647px;
  width:23px;
  height:20px;
}
#u35918 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35919 {
  position:absolute;
  left:382px;
  top:609px;
  width:85px;
  height:16px;
}
#u35920 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u35921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 153, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35921 {
  position:absolute;
  left:407px;
  top:854px;
  width:105px;
  height:31px;
}
#u35922 {
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  word-wrap:break-word;
}
#u35923_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:66px;
  height:23px;
}
#u35923p000 {
  position:absolute;
  left:-2px;
  top:0px;
  width:59px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u35923p000_img {
  position:absolute;
  left:-6px;
  top:-15px;
  width:72px;
  height:24px;
}
#u35923p001 {
  position:absolute;
  left:17px;
  top:16px;
  width:20px;
  height:20px;
}
#u35923p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:32px;
  height:40px;
}
#u35923.compound {
  width:0px;
  height:0px;
}
#u35923 {
  position:absolute;
  left:494px;
  top:558px;
  width:55px;
  height:3px;
}
#u35924 {
  position:absolute;
  left:2px;
  top:-6px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:119px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35925 {
  position:absolute;
  left:1047px;
  top:256px;
  width:158px;
  height:119px;
}
#u35926 {
  position:absolute;
  left:2px;
  top:52px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:366px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35927 {
  position:absolute;
  left:326px;
  top:572px;
  width:417px;
  height:366px;
}
#u35928 {
  position:absolute;
  left:2px;
  top:175px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:150px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u35929 {
  position:absolute;
  left:846px;
  top:394px;
  width:375px;
  height:150px;
}
#u35930 {
  position:absolute;
  left:10px;
  top:10px;
  width:355px;
  word-wrap:break-word;
}
#u35931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:397px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35931 {
  position:absolute;
  left:360px;
  top:165px;
  width:476px;
  height:397px;
}
#u35932 {
  position:absolute;
  left:2px;
  top:190px;
  width:472px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u35933 {
  position:absolute;
  left:797px;
  top:187px;
  width:15px;
  height:15px;
}
#u35934 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35935 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:131px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35936 {
  position:absolute;
  left:846px;
  top:86px;
  width:306px;
  height:131px;
}
#u35937 {
  position:absolute;
  left:2px;
  top:58px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u35938 {
  position:absolute;
  left:872px;
  top:131px;
  width:277px;
  height:30px;
  font-size:12px;
}
#u35939 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  white-space:nowrap;
}
#u35940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u35940 {
  position:absolute;
  left:859px;
  top:97px;
  width:27px;
  height:16px;
  font-size:13px;
}
#u35941 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u35942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:24px;
}
#u35942 {
  position:absolute;
  left:872px;
  top:182px;
  width:113px;
  height:24px;
}
#u35943 {
  position:absolute;
  left:2px;
  top:4px;
  width:109px;
  word-wrap:break-word;
}
#u35944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:24px;
}
#u35944 {
  position:absolute;
  left:1007px;
  top:182px;
  width:113px;
  height:24px;
}
#u35945 {
  position:absolute;
  left:2px;
  top:4px;
  width:109px;
  word-wrap:break-word;
}
#u35946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u35946 {
  position:absolute;
  left:1122px;
  top:97px;
  width:15px;
  height:15px;
}
#u35947 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:2px;
}
#u35948 {
  position:absolute;
  left:859px;
  top:117px;
  width:278px;
  height:1px;
}
#u35949 {
  position:absolute;
  left:2px;
  top:-8px;
  width:274px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:143px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35950 {
  position:absolute;
  left:843px;
  top:82px;
  width:322px;
  height:143px;
}
#u35951 {
  position:absolute;
  left:2px;
  top:64px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
