body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1051px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:78px;
}
#u28963 {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:78px;
}
#u28964 {
  position:absolute;
  left:2px;
  top:31px;
  width:1047px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1027px;
  height:57px;
}
#u28965 {
  position:absolute;
  left:0px;
  top:74px;
  width:1027px;
  height:57px;
}
#u28966 {
  position:absolute;
  left:2px;
  top:20px;
  width:1023px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1018px;
  height:57px;
}
#u28967 {
  position:absolute;
  left:5px;
  top:131px;
  width:1018px;
  height:57px;
}
#u28968 {
  position:absolute;
  left:2px;
  top:20px;
  width:1014px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1013px;
  height:140px;
}
#u28969 {
  position:absolute;
  left:10px;
  top:188px;
  width:1013px;
  height:140px;
}
#u28970 {
  position:absolute;
  left:2px;
  top:62px;
  width:1009px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:69px;
}
#u28971 {
  position:absolute;
  left:11px;
  top:322px;
  width:1010px;
  height:69px;
}
#u28972 {
  position:absolute;
  left:2px;
  top:26px;
  width:1006px;
  visibility:hidden;
  word-wrap:break-word;
}
