body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1108px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28615_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1108px;
  height:699px;
}
#u28615 {
  position:absolute;
  left:0px;
  top:0px;
  width:1108px;
  height:699px;
}
#u28616 {
  position:absolute;
  left:2px;
  top:342px;
  width:1104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28617_img {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:51px;
}
#u28617 {
  position:absolute;
  left:463px;
  top:96px;
  width:474px;
  height:51px;
  font-size:18px;
}
#u28618 {
  position:absolute;
  left:2px;
  top:4px;
  width:470px;
  word-wrap:break-word;
}
#u28619 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28620_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:57px;
}
#u28620 {
  position:absolute;
  left:399px;
  top:88px;
  width:63px;
  height:57px;
}
#u28621 {
  position:absolute;
  left:2px;
  top:20px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:26px;
}
#u28622 {
  position:absolute;
  left:413px;
  top:102px;
  width:30px;
  height:26px;
}
#u28623 {
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
