body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1068px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1068px;
  height:590px;
}
#u28043 {
  position:absolute;
  left:0px;
  top:0px;
  width:1068px;
  height:590px;
}
#u28044 {
  position:absolute;
  left:2px;
  top:287px;
  width:1064px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u28045 {
  position:absolute;
  left:354px;
  top:411px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u28046 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u28047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:28px;
}
#u28047 {
  position:absolute;
  left:461px;
  top:407px;
  width:249px;
  height:28px;
}
#u28048 {
  position:absolute;
  left:2px;
  top:6px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6600;
}
#u28049 {
  position:absolute;
  left:425px;
  top:409px;
  width:6px;
  height:16px;
  color:#FF6600;
}
#u28050 {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  white-space:nowrap;
}
#u28051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:155px;
}
#u28051 {
  position:absolute;
  left:310px;
  top:434px;
  width:450px;
  height:155px;
}
#u28052 {
  position:absolute;
  left:2px;
  top:70px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
}
#u28053 {
  position:absolute;
  left:441px;
  top:525px;
  width:238px;
  height:63px;
}
#u28054 {
  position:absolute;
  left:2px;
  top:24px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28055 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28056 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u28057 {
  position:absolute;
  left:360px;
  top:462px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u28058 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u28059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#D7D7D7;
  text-align:left;
}
#u28059 {
  position:absolute;
  left:460px;
  top:456px;
  width:250px;
  height:34px;
  font-size:12px;
  color:#D7D7D7;
  text-align:left;
}
#u28060 {
  position:absolute;
  left:2px;
  top:2px;
  width:246px;
  word-wrap:break-word;
}
#u28061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3300;
}
#u28061 {
  position:absolute;
  left:354px;
  top:500px;
  width:380px;
  height:48px;
  color:#FF3300;
}
#u28062 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u28063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6600;
}
#u28063 {
  position:absolute;
  left:441px;
  top:377px;
  width:6px;
  height:16px;
  color:#FF6600;
}
#u28064 {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  white-space:nowrap;
}
#u28065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6600;
}
#u28065 {
  position:absolute;
  left:443px;
  top:337px;
  width:6px;
  height:16px;
  color:#FF6600;
}
#u28066 {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  white-space:nowrap;
}
#u28067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6600;
}
#u28067 {
  position:absolute;
  left:443px;
  top:264px;
  width:6px;
  height:16px;
  color:#FF6600;
}
#u28068 {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  white-space:nowrap;
}
#u28069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6600;
}
#u28069 {
  position:absolute;
  left:443px;
  top:224px;
  width:6px;
  height:16px;
  color:#FF6600;
}
#u28070 {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  white-space:nowrap;
}
#u28071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
}
#u28071 {
  position:absolute;
  left:460px;
  top:408px;
  width:53px;
  height:22px;
}
#u28072 {
  position:absolute;
  left:2px;
  top:3px;
  width:49px;
  word-wrap:break-word;
}
#u28073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
}
#u28073 {
  position:absolute;
  left:517px;
  top:409px;
  width:53px;
  height:22px;
}
#u28074 {
  position:absolute;
  left:2px;
  top:3px;
  width:49px;
  word-wrap:break-word;
}
#u28075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
}
#u28075 {
  position:absolute;
  left:573px;
  top:408px;
  width:50px;
  height:22px;
}
#u28076 {
  position:absolute;
  left:2px;
  top:3px;
  width:46px;
  word-wrap:break-word;
}
#u28077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:15px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u28077 {
  position:absolute;
  left:461px;
  top:435px;
  width:153px;
  height:15px;
  font-size:12px;
}
#u28078 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u28079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u28079 {
  position:absolute;
  left:624px;
  top:407px;
  width:71px;
  height:23px;
  font-size:12px;
}
#u28080 {
  position:absolute;
  left:2px;
  top:4px;
  width:67px;
  word-wrap:break-word;
}
#u28081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u28081 {
  position:absolute;
  left:698px;
  top:412px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u28082 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
