body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1227px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u34756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1227px;
  height:642px;
}
#u34756 {
  position:absolute;
  left:0px;
  top:0px;
  width:1227px;
  height:642px;
}
#u34757 {
  position:absolute;
  left:2px;
  top:313px;
  width:1223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:2px;
}
#u34758 {
  position:absolute;
  left:387px;
  top:278px;
  width:473px;
  height:1px;
}
#u34759 {
  position:absolute;
  left:2px;
  top:-8px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:2px;
}
#u34760 {
  position:absolute;
  left:371px;
  top:300px;
  width:473px;
  height:1px;
}
#u34761 {
  position:absolute;
  left:2px;
  top:-8px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:2px;
}
#u34762 {
  position:absolute;
  left:371px;
  top:343px;
  width:509px;
  height:1px;
}
#u34763 {
  position:absolute;
  left:2px;
  top:-8px;
  width:505px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:2px;
}
#u34764 {
  position:absolute;
  left:371px;
  top:367px;
  width:509px;
  height:1px;
}
#u34765 {
  position:absolute;
  left:2px;
  top:-8px;
  width:505px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34766_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:2px;
}
#u34766 {
  position:absolute;
  left:371px;
  top:390px;
  width:342px;
  height:1px;
}
#u34767 {
  position:absolute;
  left:2px;
  top:-8px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
