body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1187px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u34425_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1187px;
  height:570px;
}
#u34425 {
  position:absolute;
  left:0px;
  top:0px;
  width:1187px;
  height:570px;
}
#u34426 {
  position:absolute;
  left:2px;
  top:277px;
  width:1183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34427_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:63px;
}
#u34427 {
  position:absolute;
  left:1013px;
  top:458px;
  width:146px;
  height:63px;
}
#u34428 {
  position:absolute;
  left:2px;
  top:24px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34429_div {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:169px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u34429 {
  position:absolute;
  left:297px;
  top:177px;
  width:445px;
  height:169px;
  font-size:36px;
}
#u34430 {
  position:absolute;
  left:2px;
  top:42px;
  width:441px;
  word-wrap:break-word;
}
#u34431_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:28px;
}
#u34431 {
  position:absolute;
  left:440px;
  top:437px;
  width:156px;
  height:28px;
}
#u34432 {
  position:absolute;
  left:2px;
  top:6px;
  width:152px;
  word-wrap:break-word;
}
#u34433_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:32px;
}
#u34433 {
  position:absolute;
  left:397px;
  top:356px;
  width:239px;
  height:32px;
}
#u34434 {
  position:absolute;
  left:2px;
  top:8px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34435_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u34435 {
  position:absolute;
  left:397px;
  top:364px;
  width:180px;
  height:16px;
  color:#FFFFFF;
}
#u34436 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  white-space:nowrap;
}
