body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1059px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28520_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1059px;
  height:545px;
}
#u28520 {
  position:absolute;
  left:0px;
  top:0px;
  width:1059px;
  height:545px;
}
#u28521 {
  position:absolute;
  left:2px;
  top:264px;
  width:1055px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
}
#u28522 {
  position:absolute;
  left:490px;
  top:173px;
  width:151px;
  height:30px;
  font-size:12px;
  color:#66FF00;
}
#u28523 {
  position:absolute;
  left:2px;
  top:8px;
  width:147px;
  word-wrap:break-word;
}
#u28524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
}
#u28524 {
  position:absolute;
  left:830px;
  top:167px;
  width:124px;
  height:30px;
  font-size:14px;
  color:#66FF00;
}
#u28525 {
  position:absolute;
  left:2px;
  top:7px;
  width:120px;
  word-wrap:break-word;
}
#u28526_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
}
#u28526 {
  position:absolute;
  left:490px;
  top:224px;
  width:124px;
  height:30px;
  font-size:14px;
  color:#66FF00;
}
#u28527 {
  position:absolute;
  left:2px;
  top:7px;
  width:120px;
  word-wrap:break-word;
}
#u28528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
}
#u28528 {
  position:absolute;
  left:830px;
  top:224px;
  width:124px;
  height:30px;
  font-size:14px;
  color:#66FF00;
}
#u28529 {
  position:absolute;
  left:2px;
  top:7px;
  width:120px;
  word-wrap:break-word;
}
#u28530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
}
#u28530 {
  position:absolute;
  left:490px;
  top:273px;
  width:124px;
  height:30px;
  font-size:14px;
  color:#66FF00;
}
#u28531 {
  position:absolute;
  left:2px;
  top:7px;
  width:120px;
  word-wrap:break-word;
}
#u28532_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
}
#u28532 {
  position:absolute;
  left:131px;
  top:371px;
  width:162px;
  height:30px;
  font-size:12px;
  color:#66FF00;
}
#u28533 {
  position:absolute;
  left:2px;
  top:8px;
  width:158px;
  word-wrap:break-word;
}
#u28534_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
}
#u28534 {
  position:absolute;
  left:490px;
  top:321px;
  width:162px;
  height:30px;
  font-size:12px;
  color:#66FF00;
}
#u28535 {
  position:absolute;
  left:2px;
  top:8px;
  width:158px;
  word-wrap:break-word;
}
#u28536_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:30px;
}
#u28536 {
  position:absolute;
  left:490px;
  top:371px;
  width:229px;
  height:30px;
  font-size:12px;
  color:#66FF00;
}
#u28537 {
  position:absolute;
  left:2px;
  top:8px;
  width:225px;
  word-wrap:break-word;
}
#u28538_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:30px;
}
#u28538 {
  position:absolute;
  left:830px;
  top:371px;
  width:167px;
  height:30px;
  font-size:12px;
  color:#66FF00;
}
#u28539 {
  position:absolute;
  left:2px;
  top:8px;
  width:163px;
  word-wrap:break-word;
}
#u28540_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
}
#u28540 {
  position:absolute;
  left:137px;
  top:273px;
  width:132px;
  height:30px;
  font-size:12px;
  color:#66FF00;
}
#u28541 {
  position:absolute;
  left:2px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u28542_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
}
#u28542 {
  position:absolute;
  left:826px;
  top:273px;
  width:132px;
  height:30px;
  font-size:12px;
  color:#66FF00;
}
#u28543 {
  position:absolute;
  left:2px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
