body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1070px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1070px;
  height:638px;
}
#u28142 {
  position:absolute;
  left:0px;
  top:0px;
  width:1070px;
  height:638px;
}
#u28143 {
  position:absolute;
  left:2px;
  top:311px;
  width:1066px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:22px;
}
#u28144 {
  position:absolute;
  left:377px;
  top:310px;
  width:348px;
  height:22px;
}
#u28145 {
  position:absolute;
  left:2px;
  top:3px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:29px;
}
#u28146 {
  position:absolute;
  left:377px;
  top:281px;
  width:348px;
  height:29px;
}
#u28147 {
  position:absolute;
  left:2px;
  top:6px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28148 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u28149 {
  position:absolute;
  left:383px;
  top:285px;
  width:415px;
  height:15px;
  font-size:12px;
}
#u28150 {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  white-space:nowrap;
}
#u28151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:128px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u28151 {
  position:absolute;
  left:509px;
  top:302px;
  width:335px;
  height:128px;
  text-align:left;
}
#u28152 {
  position:absolute;
  left:2px;
  top:33px;
  width:331px;
  word-wrap:break-word;
}
#u28153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:21px;
}
#u28153 {
  position:absolute;
  left:509px;
  top:306px;
  width:327px;
  height:21px;
}
#u28154 {
  position:absolute;
  left:2px;
  top:2px;
  width:323px;
  visibility:hidden;
  word-wrap:break-word;
}
