body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1066px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1066px;
  height:639px;
}
#u22459 {
  position:absolute;
  left:0px;
  top:0px;
  width:1066px;
  height:639px;
}
#u22460 {
  position:absolute;
  left:2px;
  top:312px;
  width:1062px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22461_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u22461 {
  position:absolute;
  left:305px;
  top:606px;
  width:106px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u22462 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u22463_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
}
#u22463 {
  position:absolute;
  left:135px;
  top:605px;
  width:61px;
  height:21px;
  font-size:12px;
}
#u22464 {
  position:absolute;
  left:2px;
  top:3px;
  width:57px;
  word-wrap:break-word;
}
#u22465 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u22466 {
  position:absolute;
  left:268px;
  top:607px;
  width:15px;
  height:16px;
  color:#FFFFFF;
}
#u22467 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u22468 {
  position:absolute;
  left:286px;
  top:605px;
  width:196px;
  height:54px;
  overflow:hidden;
  visibility:hidden;
}
#u22468_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:54px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u22468_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  text-align:left;
}
#u22469 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:55px;
  font-size:11px;
  text-align:left;
}
#u22470 {
  position:absolute;
  left:2px;
  top:6px;
  width:192px;
  word-wrap:break-word;
}
