body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1437px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u49044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1228px;
  height:635px;
}
#u49044 {
  position:absolute;
  left:0px;
  top:0px;
  width:1228px;
  height:635px;
}
#u49045 {
  position:absolute;
  left:2px;
  top:310px;
  width:1224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9900;
}
#u49046 {
  position:absolute;
  left:600px;
  top:405px;
  width:57px;
  height:16px;
  color:#FF9900;
}
#u49047 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u49048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:31px;
}
#u49048 {
  position:absolute;
  left:497px;
  top:397px;
  width:86px;
  height:31px;
}
#u49049 {
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  word-wrap:break-word;
}
#u49050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:927px;
  height:48px;
}
#u49050 {
  position:absolute;
  left:273px;
  top:456px;
  width:927px;
  height:48px;
}
#u49051 {
  position:absolute;
  left:2px;
  top:16px;
  width:923px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49052 {
  position:absolute;
  left:407px;
  top:472px;
  width:71px;
  height:16px;
}
#u49053 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u49054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49054 {
  position:absolute;
  left:552px;
  top:472px;
  width:29px;
  height:16px;
}
#u49055 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u49056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49056 {
  position:absolute;
  left:818px;
  top:472px;
  width:29px;
  height:16px;
}
#u49057 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u49058 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u49059 {
  position:absolute;
  left:775px;
  top:551px;
  width:233px;
  height:15px;
  font-size:12px;
}
#u49060 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  white-space:nowrap;
}
#u49061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u49061 {
  position:absolute;
  left:542px;
  top:551px;
  width:34px;
  height:15px;
  font-size:12px;
}
#u49062 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u49063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u49063 {
  position:absolute;
  left:403px;
  top:551px;
  width:64px;
  height:15px;
  font-size:12px;
}
#u49064 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u49065 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u49066 {
  position:absolute;
  left:775px;
  top:579px;
  width:269px;
  height:15px;
  font-size:12px;
}
#u49067 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  white-space:nowrap;
}
#u49068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u49068 {
  position:absolute;
  left:542px;
  top:577px;
  width:34px;
  height:15px;
  font-size:12px;
}
#u49069 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u49070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u49070 {
  position:absolute;
  left:403px;
  top:577px;
  width:64px;
  height:15px;
  font-size:12px;
}
#u49071 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u49072 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u49073 {
  position:absolute;
  left:775px;
  top:690px;
  width:316px;
  height:15px;
  font-size:12px;
}
#u49074 {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  white-space:nowrap;
}
#u49075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u49075 {
  position:absolute;
  left:542px;
  top:689px;
  width:34px;
  height:15px;
  font-size:12px;
}
#u49076 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u49077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u49077 {
  position:absolute;
  left:403px;
  top:689px;
  width:64px;
  height:15px;
  font-size:12px;
}
#u49078 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u49079 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u49080 {
  position:absolute;
  left:775px;
  top:716px;
  width:352px;
  height:15px;
  font-size:12px;
}
#u49081 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  white-space:nowrap;
}
#u49082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u49082 {
  position:absolute;
  left:542px;
  top:715px;
  width:34px;
  height:15px;
  font-size:12px;
}
#u49083 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u49084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u49084 {
  position:absolute;
  left:403px;
  top:715px;
  width:64px;
  height:15px;
  font-size:12px;
}
#u49085 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u49086 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u49087 {
  position:absolute;
  left:775px;
  top:665px;
  width:328px;
  height:15px;
  font-size:12px;
}
#u49088 {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  white-space:nowrap;
}
#u49089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u49089 {
  position:absolute;
  left:542px;
  top:663px;
  width:34px;
  height:15px;
  font-size:12px;
}
#u49090 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u49091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u49091 {
  position:absolute;
  left:403px;
  top:663px;
  width:64px;
  height:15px;
  font-size:12px;
}
#u49092 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u49093 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u49094 {
  position:absolute;
  left:542px;
  top:525px;
  width:34px;
  height:15px;
  font-size:12px;
}
#u49095 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u49096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u49096 {
  position:absolute;
  left:404px;
  top:525px;
  width:64px;
  height:15px;
  font-size:12px;
}
#u49097 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u49098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u49098 {
  position:absolute;
  left:775px;
  top:525px;
  width:245px;
  height:15px;
  font-size:12px;
}
#u49099 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  white-space:nowrap;
}
#u49100 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u49101 {
  position:absolute;
  left:775px;
  top:744px;
  width:173px;
  height:15px;
  font-size:12px;
}
#u49102 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u49103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u49103 {
  position:absolute;
  left:542px;
  top:743px;
  width:34px;
  height:15px;
  font-size:12px;
}
#u49104 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u49105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u49105 {
  position:absolute;
  left:403px;
  top:743px;
  width:64px;
  height:15px;
  font-size:12px;
}
#u49106 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u49107 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u49108 {
  position:absolute;
  left:775px;
  top:606px;
  width:269px;
  height:15px;
  font-size:12px;
}
#u49109 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  white-space:nowrap;
}
#u49110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u49110 {
  position:absolute;
  left:542px;
  top:604px;
  width:34px;
  height:15px;
  font-size:12px;
}
#u49111 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u49112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u49112 {
  position:absolute;
  left:403px;
  top:604px;
  width:64px;
  height:15px;
  font-size:12px;
}
#u49113 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u49114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:246px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:12px;
}
#u49114 {
  position:absolute;
  left:1166px;
  top:355px;
  width:271px;
  height:246px;
  font-size:12px;
}
#u49115 {
  position:absolute;
  left:10px;
  top:10px;
  width:251px;
  word-wrap:break-word;
}
#u49116 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u49117 {
  position:absolute;
  left:775px;
  top:633px;
  width:293px;
  height:15px;
  font-size:12px;
}
#u49118 {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  white-space:nowrap;
}
#u49119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u49119 {
  position:absolute;
  left:542px;
  top:631px;
  width:34px;
  height:15px;
  font-size:12px;
}
#u49120 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u49121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u49121 {
  position:absolute;
  left:403px;
  top:631px;
  width:64px;
  height:15px;
  font-size:12px;
}
#u49122 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u49123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:889px;
  height:345px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49123 {
  position:absolute;
  left:249px;
  top:453px;
  width:889px;
  height:345px;
}
#u49124 {
  position:absolute;
  left:2px;
  top:164px;
  width:885px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49125 {
  position:absolute;
  left:287px;
  top:472px;
  width:29px;
  height:16px;
}
#u49126 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u49127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u49127 {
  position:absolute;
  left:261px;
  top:525px;
  width:102px;
  height:15px;
  font-size:12px;
}
#u49128 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u49129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u49129 {
  position:absolute;
  left:261px;
  top:550px;
  width:102px;
  height:15px;
  font-size:12px;
}
#u49130 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u49131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u49131 {
  position:absolute;
  left:261px;
  top:575px;
  width:102px;
  height:15px;
  font-size:12px;
}
#u49132 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u49133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u49133 {
  position:absolute;
  left:261px;
  top:603px;
  width:102px;
  height:15px;
  font-size:12px;
}
#u49134 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u49135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u49135 {
  position:absolute;
  left:261px;
  top:631px;
  width:102px;
  height:15px;
  font-size:12px;
}
#u49136 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u49137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u49137 {
  position:absolute;
  left:261px;
  top:660px;
  width:102px;
  height:15px;
  font-size:12px;
}
#u49138 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u49139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u49139 {
  position:absolute;
  left:261px;
  top:689px;
  width:102px;
  height:15px;
  font-size:12px;
}
#u49140 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u49141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u49141 {
  position:absolute;
  left:261px;
  top:715px;
  width:102px;
  height:15px;
  font-size:12px;
}
#u49142 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u49143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u49143 {
  position:absolute;
  left:261px;
  top:743px;
  width:102px;
  height:15px;
  font-size:12px;
}
#u49144 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
