body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:963px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28624_img {
  position:absolute;
  left:0px;
  top:0px;
  width:963px;
  height:552px;
}
#u28624 {
  position:absolute;
  left:0px;
  top:0px;
  width:963px;
  height:552px;
}
#u28625 {
  position:absolute;
  left:2px;
  top:268px;
  width:959px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28626 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:20px;
}
#u28627 {
  position:absolute;
  left:337px;
  top:237px;
  width:376px;
  height:20px;
}
#u28628 {
  position:absolute;
  left:2px;
  top:2px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:2px;
}
#u28629 {
  position:absolute;
  left:463px;
  top:255px;
  width:86px;
  height:1px;
}
#u28630 {
  position:absolute;
  left:2px;
  top:-8px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:2px;
}
#u28631 {
  position:absolute;
  left:636px;
  top:255px;
  width:71px;
  height:1px;
}
#u28632 {
  position:absolute;
  left:2px;
  top:-8px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:84px;
}
#u28633 {
  position:absolute;
  left:457px;
  top:257px;
  width:290px;
  height:84px;
}
#u28634 {
  position:absolute;
  left:2px;
  top:34px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:67px;
}
#u28635 {
  position:absolute;
  left:633px;
  top:170px;
  width:296px;
  height:67px;
}
#u28636 {
  position:absolute;
  left:2px;
  top:26px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
