body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1208px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u49379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1221px;
  height:553px;
}
#u49379 {
  position:absolute;
  left:0px;
  top:0px;
  width:1221px;
  height:553px;
}
#u49380 {
  position:absolute;
  left:2px;
  top:268px;
  width:1217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u49381 {
  position:absolute;
  left:109px;
  top:375px;
  width:37px;
  height:15px;
  -webkit-transform:rotate(325deg);
  -moz-transform:rotate(325deg);
  -ms-transform:rotate(325deg);
  transform:rotate(325deg);
  font-size:12px;
  color:#FFFFFF;
}
#u49382 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u49383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
}
#u49383 {
  position:absolute;
  left:1056px;
  top:308px;
  width:85px;
  height:16px;
  text-decoration:underline;
}
#u49384 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u49385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1221px;
  height:503px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49385 {
  position:absolute;
  left:-13px;
  top:65px;
  width:1221px;
  height:503px;
}
#u49386 {
  position:absolute;
  left:2px;
  top:244px;
  width:1217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49387_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u49387 {
  position:absolute;
  left:34px;
  top:89px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u49388 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u49389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:31px;
}
#u49389 {
  position:absolute;
  left:63px;
  top:204px;
  width:103px;
  height:31px;
}
#u49390 {
  position:absolute;
  left:2px;
  top:8px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u49391 {
  position:absolute;
  left:426px;
  top:247px;
  width:213px;
  height:33px;
  font-size:28px;
}
#u49392 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u49393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:29px;
}
#u49393 {
  position:absolute;
  left:19px;
  top:86px;
  width:12px;
  height:29px;
}
#u49394 {
  position:absolute;
  left:2px;
  top:6px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
