body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1403px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u31400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1235px;
  height:433px;
}
#u31400 {
  position:absolute;
  left:0px;
  top:0px;
  width:1235px;
  height:433px;
}
#u31401 {
  position:absolute;
  left:2px;
  top:208px;
  width:1231px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1219px;
  height:151px;
}
#u31402 {
  position:absolute;
  left:10px;
  top:437px;
  width:1219px;
  height:151px;
}
#u31403 {
  position:absolute;
  left:2px;
  top:68px;
  width:1215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31404 {
  position:absolute;
  left:20px;
  top:456px;
  width:117px;
  height:24px;
}
#u31405 {
  position:absolute;
  left:2px;
  top:4px;
  width:113px;
  word-wrap:break-word;
}
#u31406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:58px;
}
#u31406 {
  position:absolute;
  left:53px;
  top:508px;
  width:413px;
  height:58px;
}
#u31407 {
  position:absolute;
  left:2px;
  top:21px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31408 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31409_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u31409 {
  position:absolute;
  left:1201px;
  top:461px;
  width:23px;
  height:20px;
}
#u31410 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31411_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
}
#u31411 {
  position:absolute;
  left:1213px;
  top:456px;
  width:16px;
  height:13px;
  font-size:11px;
  color:#FFFFFF;
  text-align:center;
}
#u31412 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u31413_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u31413 {
  position:absolute;
  left:1239px;
  top:461px;
  width:164px;
  height:59px;
  text-align:left;
}
#u31414 {
  position:absolute;
  left:2px;
  top:14px;
  width:160px;
  word-wrap:break-word;
}
#u31415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:26px;
}
#u31415 {
  position:absolute;
  left:1127px;
  top:500px;
  width:82px;
  height:26px;
  text-decoration:underline;
}
#u31416 {
  position:absolute;
  left:2px;
  top:5px;
  width:78px;
  word-wrap:break-word;
}
