body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1073px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1073px;
  height:577px;
}
#u28396 {
  position:absolute;
  left:0px;
  top:0px;
  width:1073px;
  height:577px;
}
#u28397 {
  position:absolute;
  left:2px;
  top:280px;
  width:1069px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:32px;
}
#u28398 {
  position:absolute;
  left:542px;
  top:369px;
  width:89px;
  height:32px;
}
#u28399 {
  position:absolute;
  left:2px;
  top:8px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:27px;
}
#u28400 {
  position:absolute;
  left:566px;
  top:372px;
  width:109px;
  height:27px;
}
#u28401 {
  position:absolute;
  left:2px;
  top:6px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u28402 {
  position:absolute;
  left:572px;
  top:377px;
  width:57px;
  height:16px;
  color:#FF0000;
}
#u28403 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u28404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:39px;
}
#u28404 {
  position:absolute;
  left:34px;
  top:413px;
  width:595px;
  height:39px;
}
#u28405 {
  position:absolute;
  left:2px;
  top:12px;
  width:591px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
}
#u28406 {
  position:absolute;
  left:59px;
  top:408px;
  width:300px;
  height:45px;
  text-align:left;
}
#u28407 {
  position:absolute;
  left:2px;
  top:6px;
  width:296px;
  word-wrap:break-word;
}
#u28408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
}
#u28408 {
  position:absolute;
  left:572px;
  top:407px;
  width:300px;
  height:45px;
  text-align:left;
}
#u28409 {
  position:absolute;
  left:2px;
  top:6px;
  width:296px;
  word-wrap:break-word;
}
