body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1050px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28450_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:608px;
}
#u28450 {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:608px;
}
#u28451 {
  position:absolute;
  left:2px;
  top:296px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28452_img {
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:50px;
}
#u28452 {
  position:absolute;
  left:12px;
  top:383px;
  width:704px;
  height:50px;
}
#u28453 {
  position:absolute;
  left:2px;
  top:17px;
  width:700px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28454_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:221px;
}
#u28454 {
  position:absolute;
  left:12px;
  top:403px;
  width:693px;
  height:221px;
}
#u28455 {
  position:absolute;
  left:2px;
  top:102px;
  width:689px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28456_img {
  position:absolute;
  left:0px;
  top:0px;
  width:697px;
  height:74px;
}
#u28456 {
  position:absolute;
  left:19px;
  top:323px;
  width:697px;
  height:74px;
}
#u28457 {
  position:absolute;
  left:2px;
  top:29px;
  width:693px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28458 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28459 {
  position:absolute;
  left:27px;
  top:315px;
  width:197px;
  height:16px;
  font-size:12px;
  color:#6B6B6B;
}
#u28460 {
  position:absolute;
  left:16px;
  top:0px;
  width:179px;
  word-wrap:break-word;
}
#u28459_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u28461 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28462 {
  position:absolute;
  left:265px;
  top:315px;
  width:220px;
  height:16px;
  font-size:12px;
  color:#6B6B6B;
}
#u28463 {
  position:absolute;
  left:16px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u28462_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u28464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#BCBCBC;
}
#u28464 {
  position:absolute;
  left:472px;
  top:315px;
  width:213px;
  height:15px;
  font-size:12px;
  color:#BCBCBC;
}
#u28465 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u28466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:217px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28466 {
  position:absolute;
  left:190px;
  top:229px;
  width:345px;
  height:217px;
}
#u28467 {
  position:absolute;
  left:2px;
  top:100px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28468 {
  position:absolute;
  left:201px;
  top:241px;
  width:71px;
  height:16px;
}
#u28469 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u28470 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28471 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28472 {
  position:absolute;
  left:260px;
  top:295px;
  width:197px;
  height:16px;
  font-size:12px;
  color:#6B6B6B;
}
#u28473 {
  position:absolute;
  left:16px;
  top:0px;
  width:179px;
  word-wrap:break-word;
}
#u28472_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u28474 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28475 {
  position:absolute;
  left:260px;
  top:337px;
  width:197px;
  height:16px;
  font-size:12px;
  color:#6B6B6B;
}
#u28476 {
  position:absolute;
  left:16px;
  top:0px;
  width:179px;
  word-wrap:break-word;
}
#u28475_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u28477 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28478_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28478 {
  position:absolute;
  left:280px;
  top:408px;
  width:89px;
  height:24px;
}
#u28479 {
  position:absolute;
  left:2px;
  top:4px;
  width:85px;
  word-wrap:break-word;
}
#u28480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28480 {
  position:absolute;
  left:419px;
  top:412px;
  width:29px;
  height:16px;
}
#u28481 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u28482_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u28482 {
  position:absolute;
  left:229px;
  top:369px;
  width:231px;
  height:16px;
  color:#FF0000;
}
#u28483 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
}
#u28484_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u28484 {
  position:absolute;
  left:507px;
  top:234px;
  width:24px;
  height:23px;
}
#u28485 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:2px;
}
#u28486 {
  position:absolute;
  left:201px;
  top:264px;
  width:324px;
  height:1px;
}
#u28487 {
  position:absolute;
  left:2px;
  top:-8px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
