body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1232px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u31371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1232px;
  height:623px;
}
#u31371 {
  position:absolute;
  left:0px;
  top:0px;
  width:1232px;
  height:623px;
}
#u31372 {
  position:absolute;
  left:2px;
  top:304px;
  width:1228px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:2px;
}
#u31373 {
  position:absolute;
  left:373px;
  top:469px;
  width:461px;
  height:1px;
}
#u31374 {
  position:absolute;
  left:2px;
  top:-8px;
  width:457px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:2px;
}
#u31375 {
  position:absolute;
  left:373px;
  top:496px;
  width:461px;
  height:1px;
}
#u31376 {
  position:absolute;
  left:2px;
  top:-8px;
  width:457px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:2px;
}
#u31377 {
  position:absolute;
  left:400px;
  top:316px;
  width:177px;
  height:1px;
}
#u31378 {
  position:absolute;
  left:2px;
  top:-8px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:2px;
}
#u31379 {
  position:absolute;
  left:489px;
  top:288px;
  width:186px;
  height:1px;
}
#u31380 {
  position:absolute;
  left:2px;
  top:-8px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:2px;
}
#u31381 {
  position:absolute;
  left:837px;
  top:238px;
  width:346px;
  height:1px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
}
#u31382 {
  position:absolute;
  left:2px;
  top:-8px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:2px;
}
#u31383 {
  position:absolute;
  left:865px;
  top:257px;
  width:269px;
  height:1px;
  -webkit-transform:rotate(330deg);
  -moz-transform:rotate(330deg);
  -ms-transform:rotate(330deg);
  transform:rotate(330deg);
}
#u31384 {
  position:absolute;
  left:2px;
  top:-8px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31385 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#6B6B6B;
}
#u31386 {
  position:absolute;
  left:421px;
  top:401px;
  width:168px;
  height:15px;
  font-size:12px;
  color:#6B6B6B;
}
#u31387 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
