body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1146px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u49513_img {
  position:absolute;
  left:0px;
  top:0px;
  width:917px;
  height:439px;
}
#u49513 {
  position:absolute;
  left:0px;
  top:0px;
  width:917px;
  height:439px;
}
#u49514 {
  position:absolute;
  left:2px;
  top:212px;
  width:913px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49515 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49516_img {
  position:absolute;
  left:0px;
  top:0px;
  width:917px;
  height:366px;
}
#u49516 {
  position:absolute;
  left:0px;
  top:330px;
  width:917px;
  height:366px;
}
#u49517 {
  position:absolute;
  left:2px;
  top:175px;
  width:913px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49518_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:20px;
}
#u49518 {
  position:absolute;
  left:535px;
  top:267px;
  width:206px;
  height:20px;
}
#u49519 {
  position:absolute;
  left:2px;
  top:2px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49520_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u49520 {
  position:absolute;
  left:542px;
  top:267px;
  width:84px;
  height:20px;
  font-size:11px;
}
#u49521 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:20px;
}
#u49522 {
  position:absolute;
  left:19px;
  top:267px;
  width:224px;
  height:20px;
  font-size:11px;
}
#u49523 {
  position:absolute;
  left:2px;
  top:3px;
  width:220px;
  word-wrap:break-word;
}
#u49524_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u49524 {
  position:absolute;
  left:35px;
  top:287px;
  width:193px;
  height:20px;
  font-size:11px;
}
#u49525 {
  position:absolute;
  left:2px;
  top:3px;
  width:189px;
  word-wrap:break-word;
}
#u49526_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:528px;
}
#u49526 {
  position:absolute;
  left:0px;
  top:883px;
  width:1146px;
  height:528px;
}
#u49527 {
  position:absolute;
  left:2px;
  top:256px;
  width:1142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:54px;
}
#u49528 {
  position:absolute;
  left:858px;
  top:1062px;
  width:212px;
  height:54px;
}
#u49529 {
  position:absolute;
  left:2px;
  top:19px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:41px;
}
#u49530 {
  position:absolute;
  left:874px;
  top:1075px;
  width:196px;
  height:41px;
}
#u49531 {
  position:absolute;
  left:2px;
  top:12px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49532_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1044px;
  height:593px;
}
#u49532 {
  position:absolute;
  left:0px;
  top:1349px;
  width:1044px;
  height:593px;
}
#u49533 {
  position:absolute;
  left:2px;
  top:288px;
  width:1040px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49534_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:29px;
}
#u49534 {
  position:absolute;
  left:597px;
  top:1885px;
  width:300px;
  height:29px;
}
#u49535 {
  position:absolute;
  left:2px;
  top:6px;
  width:296px;
  word-wrap:break-word;
}
