body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:739px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u29775_img {
  position:absolute;
  left:0px;
  top:0px;
  width:739px;
  height:393px;
}
#u29775 {
  position:absolute;
  left:0px;
  top:0px;
  width:739px;
  height:393px;
}
#u29776 {
  position:absolute;
  left:2px;
  top:188px;
  width:735px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:294px;
}
#u29777 {
  position:absolute;
  left:10px;
  top:48px;
  width:719px;
  height:294px;
}
#u29778 {
  position:absolute;
  left:2px;
  top:139px;
  width:715px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:647px;
  height:301px;
}
#u29780 {
  position:absolute;
  left:19px;
  top:48px;
  width:647px;
  height:301px;
}
#u29781 {
  position:absolute;
  left:2px;
  top:142px;
  width:643px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29782 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:597px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29783 {
  position:absolute;
  left:19px;
  top:186px;
  width:597px;
  height:51px;
}
#u29784 {
  position:absolute;
  left:2px;
  top:18px;
  width:593px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29785 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29786_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u29786 {
  position:absolute;
  left:29px;
  top:202px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u29787 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u29788 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29789 {
  position:absolute;
  left:119px;
  top:200px;
  width:57px;
  height:20px;
}
#u29790 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  word-wrap:break-word;
}
#u29791_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 204, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29791 {
  position:absolute;
  left:190px;
  top:200px;
  width:57px;
  height:20px;
}
#u29792 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  word-wrap:break-word;
}
#u29793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29793 {
  position:absolute;
  left:262px;
  top:200px;
  width:57px;
  height:20px;
}
#u29794 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  word-wrap:break-word;
}
#u29795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29795 {
  position:absolute;
  left:345px;
  top:200px;
  width:57px;
  height:20px;
}
#u29796 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  word-wrap:break-word;
}
#u29797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29797 {
  position:absolute;
  left:423px;
  top:201px;
  width:57px;
  height:20px;
}
#u29798 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  word-wrap:break-word;
}
#u29799 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29800_div {
  position:absolute;
  left:0px;
  top:0px;
  width:597px;
  height:133px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29800 {
  position:absolute;
  left:19px;
  top:48px;
  width:597px;
  height:133px;
}
#u29801 {
  position:absolute;
  left:2px;
  top:58px;
  width:593px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  height:2px;
}
#u29802 {
  position:absolute;
  left:29px;
  top:81px;
  width:574px;
  height:1px;
}
#u29803 {
  position:absolute;
  left:2px;
  top:-8px;
  width:570px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29804 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u29805 {
  position:absolute;
  left:29px;
  top:58px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u29806 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u29807 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29808 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29809 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29810 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29811 {
  position:absolute;
  left:165px;
  top:151px;
  width:57px;
  height:20px;
}
#u29812 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  word-wrap:break-word;
}
#u29813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 204, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29813 {
  position:absolute;
  left:236px;
  top:151px;
  width:57px;
  height:20px;
}
#u29814 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  word-wrap:break-word;
}
#u29815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29815 {
  position:absolute;
  left:308px;
  top:151px;
  width:57px;
  height:20px;
}
#u29816 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  word-wrap:break-word;
}
#u29817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29817 {
  position:absolute;
  left:391px;
  top:151px;
  width:57px;
  height:20px;
}
#u29818 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  word-wrap:break-word;
}
#u29819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29819 {
  position:absolute;
  left:469px;
  top:152px;
  width:57px;
  height:20px;
}
#u29820 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  word-wrap:break-word;
}
#u29821 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29822 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29823 {
  position:absolute;
  left:29px;
  top:90px;
  width:99px;
  height:16px;
}
#u29824 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u29825 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29826 {
  position:absolute;
  left:155px;
  top:89px;
  width:57px;
  height:20px;
}
#u29827 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  word-wrap:break-word;
}
#u29828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 204, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29828 {
  position:absolute;
  left:226px;
  top:89px;
  width:57px;
  height:20px;
}
#u29829 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  word-wrap:break-word;
}
#u29830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29830 {
  position:absolute;
  left:298px;
  top:89px;
  width:57px;
  height:20px;
}
#u29831 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  word-wrap:break-word;
}
#u29832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29832 {
  position:absolute;
  left:381px;
  top:89px;
  width:57px;
  height:20px;
}
#u29833 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  word-wrap:break-word;
}
#u29834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29834 {
  position:absolute;
  left:459px;
  top:90px;
  width:57px;
  height:20px;
}
#u29835 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  word-wrap:break-word;
}
#u29836 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29837 {
  position:absolute;
  left:29px;
  top:121px;
  width:169px;
  height:16px;
}
#u29838 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u29839 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29840 {
  position:absolute;
  left:235px;
  top:120px;
  width:57px;
  height:20px;
}
#u29841 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  word-wrap:break-word;
}
#u29842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 204, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29842 {
  position:absolute;
  left:306px;
  top:120px;
  width:57px;
  height:20px;
}
#u29843 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  word-wrap:break-word;
}
#u29844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29844 {
  position:absolute;
  left:378px;
  top:120px;
  width:57px;
  height:20px;
}
#u29845 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  word-wrap:break-word;
}
#u29846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29846 {
  position:absolute;
  left:461px;
  top:120px;
  width:57px;
  height:20px;
}
#u29847 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  word-wrap:break-word;
}
#u29848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29848 {
  position:absolute;
  left:539px;
  top:121px;
  width:57px;
  height:20px;
}
#u29849 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  word-wrap:break-word;
}
#u29850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29850 {
  position:absolute;
  left:29px;
  top:152px;
  width:113px;
  height:16px;
}
#u29851 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u29852 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:597px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29853 {
  position:absolute;
  left:19px;
  top:242px;
  width:597px;
  height:51px;
}
#u29854 {
  position:absolute;
  left:2px;
  top:18px;
  width:593px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29855 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u29856 {
  position:absolute;
  left:29px;
  top:258px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u29857 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u29858 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29859 {
  position:absolute;
  left:119px;
  top:256px;
  width:57px;
  height:20px;
}
#u29860 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  word-wrap:break-word;
}
#u29861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 204, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29861 {
  position:absolute;
  left:190px;
  top:256px;
  width:57px;
  height:20px;
}
#u29862 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  word-wrap:break-word;
}
#u29863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:597px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u29863 {
  position:absolute;
  left:19px;
  top:300px;
  width:597px;
  height:49px;
  font-size:12px;
  text-align:left;
}
#u29864 {
  position:absolute;
  left:2px;
  top:2px;
  width:593px;
  word-wrap:break-word;
}
#u29865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u29865 {
  position:absolute;
  left:29px;
  top:378px;
  width:587px;
  height:180px;
  font-size:12px;
}
#u29866 {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  word-wrap:break-word;
}
#u29867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29867 {
  position:absolute;
  left:155px;
  top:68px;
  width:71px;
  height:17px;
}
#u29868 {
  position:absolute;
  left:2px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
