body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1061px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1061px;
  height:632px;
}
#u23325 {
  position:absolute;
  left:0px;
  top:0px;
  width:1061px;
  height:632px;
}
#u23326 {
  position:absolute;
  left:2px;
  top:308px;
  width:1057px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u23327 {
  position:absolute;
  left:895px;
  top:219px;
  width:143px;
  height:30px;
}
#u23328 {
  position:absolute;
  left:2px;
  top:7px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23329 {
  position:absolute;
  left:978px;
  top:227px;
  width:37px;
  height:15px;
  font-size:12px;
}
#u23330 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u23331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:37px;
}
#u23331 {
  position:absolute;
  left:916px;
  top:292px;
  width:116px;
  height:37px;
}
#u23332 {
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF9933;
}
#u23333 {
  position:absolute;
  left:844px;
  top:299px;
  width:159px;
  height:26px;
  font-size:12px;
  color:#FF9933;
}
#u23334 {
  position:absolute;
  left:2px;
  top:6px;
  width:155px;
  word-wrap:break-word;
}
#u23335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:26px;
}
#u23335 {
  position:absolute;
  left:948px;
  top:266px;
  width:84px;
  height:26px;
}
#u23336 {
  position:absolute;
  left:2px;
  top:5px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:26px;
}
#u23337 {
  position:absolute;
  left:844px;
  top:299px;
  width:159px;
  height:26px;
}
#u23338 {
  position:absolute;
  left:2px;
  top:5px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23339_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF3300;
}
#u23339 {
  position:absolute;
  left:723px;
  top:301px;
  width:70px;
  height:15px;
  font-size:12px;
  color:#FF3300;
}
#u23340 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u23341_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF3300;
}
#u23341 {
  position:absolute;
  left:909px;
  top:303px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FF3300;
}
#u23342 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u23343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
}
#u23343 {
  position:absolute;
  left:74px;
  top:211px;
  width:39px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u23344 {
  position:absolute;
  left:2px;
  top:2px;
  width:35px;
  word-wrap:break-word;
}
