body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1081px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22497_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1081px;
  height:614px;
}
#u22497 {
  position:absolute;
  left:0px;
  top:0px;
  width:1081px;
  height:614px;
}
#u22498 {
  position:absolute;
  left:2px;
  top:299px;
  width:1077px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22499_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 0, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF6600;
}
#u22499 {
  position:absolute;
  left:313px;
  top:558px;
  width:88px;
  height:31px;
  font-size:12px;
  color:#FF6600;
}
#u22500 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u22501 {
  position:absolute;
  left:363px;
  top:224px;
  width:437px;
  height:277px;
  overflow:hidden;
}
#u22501_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:277px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u22501_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:277px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22502 {
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:277px;
}
#u22503 {
  position:absolute;
  left:2px;
  top:130px;
  width:432px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22504 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22505_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u22505 {
  position:absolute;
  left:10px;
  top:9px;
  width:53px;
  height:16px;
  font-size:13px;
}
#u22506 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u22507_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:17px;
}
#u22507 {
  position:absolute;
  left:408px;
  top:11px;
  width:18px;
  height:17px;
}
#u22508 {
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22507_ann {
  position:absolute;
  left:419px;
  top:7px;
  width:1px;
  height:1px;
}
#u22509_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:2px;
}
#u22509 {
  position:absolute;
  left:10px;
  top:30px;
  width:413px;
  height:1px;
}
#u22510 {
  position:absolute;
  left:2px;
  top:-8px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22511 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22512_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
}
#u22512 {
  position:absolute;
  left:165px;
  top:237px;
  width:74px;
  height:26px;
  color:#FFFFFF;
}
#u22513 {
  position:absolute;
  left:2px;
  top:5px;
  width:70px;
  word-wrap:break-word;
}
#u22514_div {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u22514 {
  position:absolute;
  left:24px;
  top:51px;
  width:314px;
  height:15px;
  font-size:12px;
}
#u22515 {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  white-space:nowrap;
}
#u22516_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u22516 {
  position:absolute;
  left:14px;
  top:78px;
  width:92px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u22517 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u22518 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22519_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u22519 {
  position:absolute;
  left:36px;
  top:103px;
  width:344px;
  height:15px;
  font-size:12px;
}
#u22520 {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  white-space:nowrap;
}
#u22521_div {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u22521 {
  position:absolute;
  left:36px;
  top:128px;
  width:287px;
  height:15px;
  font-size:12px;
}
#u22522 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  white-space:nowrap;
}
#u22523 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22524_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u22524 {
  position:absolute;
  left:36px;
  top:173px;
  width:375px;
  height:15px;
  font-size:12px;
}
#u22525 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  white-space:nowrap;
}
#u22526_div {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u22526 {
  position:absolute;
  left:36px;
  top:199px;
  width:203px;
  height:15px;
  font-size:12px;
}
#u22527 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  white-space:nowrap;
}
#u22528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u22528 {
  position:absolute;
  left:17px;
  top:148px;
  width:44px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u22529 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
