body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:519px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u30748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:438px;
}
#u30748 {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:438px;
}
#u30749 {
  position:absolute;
  left:2px;
  top:211px;
  width:515px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF6600;
}
#u30750 {
  position:absolute;
  left:110px;
  top:185px;
  width:169px;
  height:15px;
  font-size:12px;
  color:#FF6600;
}
#u30751 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
