body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1058px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1058px;
  height:596px;
}
#u21745 {
  position:absolute;
  left:0px;
  top:0px;
  width:1058px;
  height:596px;
}
#u21746 {
  position:absolute;
  left:2px;
  top:290px;
  width:1054px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u21747 {
  position:absolute;
  left:567px;
  top:291px;
  width:192px;
  height:15px;
  font-size:12px;
}
#u21748 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  word-wrap:break-word;
}
#u21747_ann {
  position:absolute;
  left:752px;
  top:287px;
  width:1px;
  height:1px;
}
#u21749 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:34px;
}
#u21750 {
  position:absolute;
  left:861px;
  top:235px;
  width:163px;
  height:34px;
}
#u21751 {
  position:absolute;
  left:2px;
  top:9px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21752 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u21753 {
  position:absolute;
  left:882px;
  top:244px;
  width:145px;
  height:15px;
  font-size:12px;
}
#u21754 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u21753_ann {
  position:absolute;
  left:1020px;
  top:240px;
  width:1px;
  height:1px;
}
#u21755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1047px;
  height:138px;
}
#u21755 {
  position:absolute;
  left:4px;
  top:359px;
  width:1047px;
  height:138px;
}
#u21756 {
  position:absolute;
  left:2px;
  top:61px;
  width:1043px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21757 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:34px;
}
#u21758 {
  position:absolute;
  left:831px;
  top:376px;
  width:196px;
  height:34px;
}
#u21759 {
  position:absolute;
  left:2px;
  top:9px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21760 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u21761 {
  position:absolute;
  left:874px;
  top:385px;
  width:145px;
  height:15px;
  font-size:12px;
}
#u21762 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u21761_ann {
  position:absolute;
  left:1012px;
  top:381px;
  width:1px;
  height:1px;
}
#u21763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:26px;
}
#u21763 {
  position:absolute;
  left:905px;
  top:308px;
  width:129px;
  height:26px;
}
#u21764 {
  position:absolute;
  left:2px;
  top:5px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u21765 {
  position:absolute;
  left:92px;
  top:226px;
  width:25px;
  height:22px;
  font-size:12px;
  color:#FFFFFF;
}
#u21766 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u21767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u21767 {
  position:absolute;
  left:92px;
  top:367px;
  width:25px;
  height:22px;
  font-size:12px;
  color:#FFFFFF;
}
#u21768 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
