body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1269px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u27416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1269px;
  height:638px;
}
#u27416 {
  position:absolute;
  left:0px;
  top:0px;
  width:1269px;
  height:638px;
}
#u27417 {
  position:absolute;
  left:2px;
  top:311px;
  width:1265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u27418 {
  position:absolute;
  left:977px;
  top:213px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u27419 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u27420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27420 {
  position:absolute;
  left:975px;
  top:299px;
  width:31px;
  height:16px;
}
#u27421 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u27422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27422 {
  position:absolute;
  left:975px;
  top:347px;
  width:31px;
  height:16px;
}
#u27423 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u27424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27424 {
  position:absolute;
  left:975px;
  top:393px;
  width:31px;
  height:16px;
}
#u27425 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u27426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:35px;
}
#u27426 {
  position:absolute;
  left:1148px;
  top:291px;
  width:62px;
  height:35px;
}
#u27427 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u27428_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:35px;
}
#u27428 {
  position:absolute;
  left:1148px;
  top:336px;
  width:62px;
  height:35px;
}
#u27429 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u27430_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:35px;
}
#u27430 {
  position:absolute;
  left:1148px;
  top:381px;
  width:62px;
  height:35px;
}
#u27431 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
