body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1069px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22445_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1069px;
  height:629px;
}
#u22445 {
  position:absolute;
  left:0px;
  top:0px;
  width:1069px;
  height:629px;
}
#u22446 {
  position:absolute;
  left:2px;
  top:306px;
  width:1065px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22447_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:22px;
}
#u22447 {
  position:absolute;
  left:45px;
  top:567px;
  width:112px;
  height:22px;
  color:#FFFFFF;
}
#u22448 {
  position:absolute;
  left:2px;
  top:3px;
  width:108px;
  word-wrap:break-word;
}
#u22449_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22449 {
  position:absolute;
  left:187px;
  top:570px;
  width:15px;
  height:16px;
}
#u22450 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u22451_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u22451 {
  position:absolute;
  left:51px;
  top:599px;
  width:106px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u22452 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u22453 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22454_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u22454 {
  position:absolute;
  left:196px;
  top:570px;
  width:15px;
  height:16px;
  color:#FFFFFF;
}
#u22455 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u22456 {
  position:absolute;
  left:214px;
  top:568px;
  visibility:hidden;
}
#u22456_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u22456_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  text-align:left;
}
#u22457 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:54px;
  font-size:11px;
  text-align:left;
}
#u22458 {
  position:absolute;
  left:2px;
  top:6px;
  width:192px;
  word-wrap:break-word;
}
