body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1077px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1077px;
  height:589px;
}
#u28008 {
  position:absolute;
  left:0px;
  top:0px;
  width:1077px;
  height:589px;
}
#u28009 {
  position:absolute;
  left:2px;
  top:286px;
  width:1073px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u28010 {
  position:absolute;
  left:98px;
  top:312px;
  width:45px;
  height:20px;
  font-size:12px;
}
#u28011 {
  position:absolute;
  left:2px;
  top:2px;
  width:41px;
  word-wrap:break-word;
}
#u28012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
}
#u28012 {
  position:absolute;
  left:98px;
  top:457px;
  width:33px;
  height:20px;
  font-size:12px;
}
#u28013 {
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  word-wrap:break-word;
}
#u28014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u28014 {
  position:absolute;
  left:111px;
  top:332px;
  width:69px;
  height:21px;
  font-size:12px;
}
#u28015 {
  position:absolute;
  left:2px;
  top:3px;
  width:65px;
  word-wrap:break-word;
}
