body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:938px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:938px;
  height:595px;
}
#u28637 {
  position:absolute;
  left:0px;
  top:0px;
  width:938px;
  height:595px;
}
#u28638 {
  position:absolute;
  left:2px;
  top:290px;
  width:934px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:2px;
}
#u28639 {
  position:absolute;
  left:208px;
  top:435px;
  width:54px;
  height:1px;
}
#u28640 {
  position:absolute;
  left:2px;
  top:-8px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u28641 {
  position:absolute;
  left:208px;
  top:438px;
  width:225px;
  height:57px;
  font-size:12px;
  text-align:left;
}
#u28642 {
  position:absolute;
  left:2px;
  top:2px;
  width:221px;
  word-wrap:break-word;
}
