body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1143px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u27692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1074px;
  height:590px;
}
#u27692 {
  position:absolute;
  left:0px;
  top:0px;
  width:1074px;
  height:590px;
}
#u27693 {
  position:absolute;
  left:2px;
  top:287px;
  width:1070px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27694 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:155px;
}
#u27695 {
  position:absolute;
  left:330px;
  top:402px;
  width:422px;
  height:155px;
}
#u27696 {
  position:absolute;
  left:2px;
  top:70px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27697 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27698 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27699 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u27700 {
  position:absolute;
  left:432px;
  top:377px;
  width:73px;
  height:15px;
  font-size:12px;
}
#u27701 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u27702 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u27703 {
  position:absolute;
  left:508px;
  top:377px;
  width:105px;
  height:15px;
  font-size:12px;
}
#u27704 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u27705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:15px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u27705 {
  position:absolute;
  left:621px;
  top:377px;
  width:153px;
  height:15px;
  font-size:12px;
}
#u27706 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u27707 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u27708 {
  position:absolute;
  left:444px;
  top:408px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u27709 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u27710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u27710 {
  position:absolute;
  left:508px;
  top:408px;
  width:212px;
  height:45px;
  font-size:12px;
}
#u27711 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u27712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:15px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u27712 {
  position:absolute;
  left:816px;
  top:295px;
  width:327px;
  height:15px;
  font-size:12px;
}
#u27713 {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  word-wrap:break-word;
}
#u27714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:45px;
}
#u27714 {
  position:absolute;
  left:412px;
  top:492px;
  width:259px;
  height:45px;
}
#u27715 {
  position:absolute;
  left:2px;
  top:14px;
  width:255px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:21px;
}
#u27716 {
  position:absolute;
  left:338px;
  top:190px;
  width:406px;
  height:21px;
}
#u27717 {
  position:absolute;
  left:2px;
  top:2px;
  width:402px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF9900;
}
#u27718 {
  position:absolute;
  left:350px;
  top:191px;
  width:345px;
  height:45px;
  font-size:12px;
  color:#FF9900;
}
#u27719 {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  word-wrap:break-word;
}
#u27720 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u27721 {
  position:absolute;
  left:418px;
  top:295px;
  width:398px;
  height:15px;
  font-size:12px;
}
#u27722 {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  white-space:nowrap;
}
