body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1249px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u29723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1249px;
  height:599px;
}
#u29723 {
  position:absolute;
  left:0px;
  top:0px;
  width:1249px;
  height:599px;
}
#u29724 {
  position:absolute;
  left:2px;
  top:292px;
  width:1245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29725 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29726 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:311px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29727 {
  position:absolute;
  left:376px;
  top:99px;
  width:475px;
  height:311px;
}
#u29728 {
  position:absolute;
  left:2px;
  top:148px;
  width:471px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u29729 {
  position:absolute;
  left:385px;
  top:112px;
  width:92px;
  height:16px;
  font-size:13px;
}
#u29730 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u29731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:2px;
}
#u29731 {
  position:absolute;
  left:390px;
  top:136px;
  width:444px;
  height:1px;
}
#u29732 {
  position:absolute;
  left:2px;
  top:-8px;
  width:440px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29733 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u29734 {
  position:absolute;
  left:518px;
  top:173px;
  width:161px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u29735 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u29736 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u29737 {
  position:absolute;
  left:440px;
  top:246px;
  width:121px;
  height:15px;
  font-size:12px;
}
#u29738 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  word-wrap:break-word;
}
#u29739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29739 {
  position:absolute;
  left:564px;
  top:239px;
  width:236px;
  height:29px;
}
#u29740 {
  position:absolute;
  left:2px;
  top:6px;
  width:232px;
  word-wrap:break-word;
}
#u29741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29741 {
  position:absolute;
  left:576px;
  top:350px;
  width:98px;
  height:27px;
}
#u29742 {
  position:absolute;
  left:2px;
  top:6px;
  width:94px;
  word-wrap:break-word;
}
#u29743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u29743 {
  position:absolute;
  left:385px;
  top:298px;
  width:435px;
  height:16px;
  color:#949494;
}
#u29744 {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  white-space:nowrap;
}
