body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:3724px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u31139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1106px;
  height:640px;
}
#u31139 {
  position:absolute;
  left:0px;
  top:0px;
  width:1106px;
  height:640px;
}
#u31140 {
  position:absolute;
  left:2px;
  top:312px;
  width:1102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1205px;
  height:639px;
}
#u31141 {
  position:absolute;
  left:2519px;
  top:0px;
  width:1205px;
  height:639px;
}
#u31142 {
  position:absolute;
  left:2px;
  top:312px;
  width:1201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:46px;
}
#u31143 {
  position:absolute;
  left:3399px;
  top:559px;
  width:229px;
  height:46px;
  font-size:18px;
  color:#FFFFFF;
}
#u31144 {
  position:absolute;
  left:2px;
  top:12px;
  width:225px;
  word-wrap:break-word;
}
#u31145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:39px;
}
#u31145 {
  position:absolute;
  left:1880px;
  top:455px;
  width:147px;
  height:39px;
}
#u31146 {
  position:absolute;
  left:2px;
  top:12px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  height:207px;
}
#u31147 {
  position:absolute;
  left:2580px;
  top:411px;
  width:698px;
  height:207px;
}
#u31148 {
  position:absolute;
  left:2px;
  top:96px;
  width:694px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  height:159px;
}
#u31149 {
  position:absolute;
  left:2577px;
  top:414px;
  width:698px;
  height:159px;
}
#u31150 {
  position:absolute;
  left:2px;
  top:72px;
  width:694px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  height:646px;
}
#u31151 {
  position:absolute;
  left:1233px;
  top:0px;
  width:1120px;
  height:646px;
}
#u31152 {
  position:absolute;
  left:2px;
  top:315px;
  width:1116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:38px;
}
#u31153 {
  position:absolute;
  left:1377px;
  top:107px;
  width:223px;
  height:38px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u31154 {
  position:absolute;
  left:2px;
  top:10px;
  width:219px;
  word-wrap:break-word;
}
