body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1043px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1043px;
  height:558px;
}
#u22290 {
  position:absolute;
  left:0px;
  top:0px;
  width:1043px;
  height:558px;
}
#u22291 {
  position:absolute;
  left:2px;
  top:271px;
  width:1039px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1032px;
  height:184px;
}
#u22292 {
  position:absolute;
  left:0px;
  top:683px;
  width:1032px;
  height:184px;
}
#u22293 {
  position:absolute;
  left:2px;
  top:84px;
  width:1028px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22294 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22295 {
  position:absolute;
  left:12px;
  top:557px;
  width:1020px;
  height:150px;
}
#u22296 {
  position:absolute;
  left:2px;
  top:67px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22297 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u22298 {
  position:absolute;
  left:40px;
  top:566px;
  width:40px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u22299 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u22300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:986px;
  height:2px;
}
#u22300 {
  position:absolute;
  left:34px;
  top:591px;
  width:985px;
  height:1px;
}
#u22301 {
  position:absolute;
  left:2px;
  top:-8px;
  width:981px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22302 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22303 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22304 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u22305 {
  position:absolute;
  left:40px;
  top:611px;
  width:100px;
  height:15px;
  font-size:12px;
}
#u22306 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u22305_ann {
  position:absolute;
  left:133px;
  top:607px;
  width:1px;
  height:1px;
}
#u22307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:21px;
}
#u22307 {
  position:absolute;
  left:151px;
  top:606px;
  width:196px;
  height:21px;
}
#u22308 {
  position:absolute;
  left:2px;
  top:2px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:28px;
}
#u22309 {
  position:absolute;
  left:385px;
  top:602px;
  width:43px;
  height:28px;
}
#u22310 {
  position:absolute;
  left:2px;
  top:6px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:21px;
}
#u22311 {
  position:absolute;
  left:151px;
  top:634px;
  width:196px;
  height:21px;
}
#u22312 {
  position:absolute;
  left:2px;
  top:2px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:28px;
}
#u22313 {
  position:absolute;
  left:385px;
  top:623px;
  width:43px;
  height:28px;
}
#u22314 {
  position:absolute;
  left:2px;
  top:6px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22315 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22316 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22317 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u22318 {
  position:absolute;
  left:40px;
  top:670px;
  width:100px;
  height:15px;
  font-size:12px;
}
#u22319 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u22318_ann {
  position:absolute;
  left:133px;
  top:666px;
  width:1px;
  height:1px;
}
#u22320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:21px;
}
#u22320 {
  position:absolute;
  left:151px;
  top:665px;
  width:196px;
  height:21px;
}
#u22321 {
  position:absolute;
  left:2px;
  top:2px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:28px;
}
#u22322 {
  position:absolute;
  left:385px;
  top:661px;
  width:43px;
  height:28px;
}
#u22323 {
  position:absolute;
  left:2px;
  top:6px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:21px;
}
#u22324 {
  position:absolute;
  left:151px;
  top:686px;
  width:196px;
  height:21px;
}
#u22325 {
  position:absolute;
  left:2px;
  top:2px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:28px;
}
#u22326 {
  position:absolute;
  left:385px;
  top:679px;
  width:43px;
  height:28px;
}
#u22327 {
  position:absolute;
  left:2px;
  top:6px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
