body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:941px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u34800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:941px;
  height:639px;
}
#u34800 {
  position:absolute;
  left:0px;
  top:0px;
  width:941px;
  height:639px;
}
#u34801 {
  position:absolute;
  left:2px;
  top:312px;
  width:937px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:534px;
  height:37px;
}
#u34802 {
  position:absolute;
  left:138px;
  top:146px;
  width:534px;
  height:37px;
  text-align:left;
}
#u34803 {
  position:absolute;
  left:2px;
  top:10px;
  width:530px;
  word-wrap:break-word;
}
#u34804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u34804 {
  position:absolute;
  left:102px;
  top:149px;
  width:26px;
  height:25px;
}
#u34805 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:17px;
}
#u34806 {
  position:absolute;
  left:499px;
  top:221px;
  width:34px;
  height:17px;
}
#u34807 {
  position:absolute;
  left:2px;
  top:0px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:59px;
}
#u34808 {
  position:absolute;
  left:543px;
  top:200px;
  width:142px;
  height:59px;
}
#u34809 {
  position:absolute;
  left:2px;
  top:22px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:615px;
  height:309px;
}
#u34810 {
  position:absolute;
  left:68px;
  top:306px;
  width:615px;
  height:309px;
}
#u34811 {
  position:absolute;
  left:2px;
  top:146px;
  width:611px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34812 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:604px;
  height:213px;
}
#u34813 {
  position:absolute;
  left:79px;
  top:306px;
  width:604px;
  height:213px;
}
#u34814 {
  position:absolute;
  left:2px;
  top:98px;
  width:600px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:27px;
}
#u34815 {
  position:absolute;
  left:22px;
  top:13px;
  width:224px;
  height:27px;
}
#u34816 {
  position:absolute;
  left:2px;
  top:6px;
  width:220px;
  word-wrap:break-word;
}
