body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1069px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1069px;
  height:548px;
}
#u21344 {
  position:absolute;
  left:0px;
  top:0px;
  width:1069px;
  height:548px;
}
#u21345 {
  position:absolute;
  left:2px;
  top:266px;
  width:1065px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21346 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u21347 {
  position:absolute;
  left:912px;
  top:218px;
  width:125px;
  height:30px;
}
#u21348 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21349_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u21349 {
  position:absolute;
  left:916px;
  top:225px;
  width:133px;
  height:15px;
  font-size:12px;
}
#u21350 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u21351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u21351 {
  position:absolute;
  left:568px;
  top:276px;
  width:192px;
  height:15px;
  font-size:12px;
}
#u21352 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  word-wrap:break-word;
}
#u21351_ann {
  position:absolute;
  left:753px;
  top:272px;
  width:1px;
  height:1px;
}
#u21353_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF6600;
}
#u21353 {
  position:absolute;
  left:929px;
  top:294px;
  width:80px;
  height:28px;
  font-size:12px;
  color:#FF6600;
}
#u21354 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u21353_ann {
  position:absolute;
  left:1002px;
  top:290px;
  width:1px;
  height:1px;
}
#u21355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u21355 {
  position:absolute;
  left:99px;
  top:212px;
  width:25px;
  height:22px;
  font-size:12px;
  color:#FFFFFF;
}
#u21356 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
