body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:831px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u35242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:797px;
  height:336px;
}
#u35242 {
  position:absolute;
  left:0px;
  top:0px;
  width:797px;
  height:336px;
}
#u35243 {
  position:absolute;
  left:2px;
  top:160px;
  width:793px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:235px;
}
#u35244 {
  position:absolute;
  left:207px;
  top:330px;
  width:1px;
  height:234px;
}
#u35245 {
  position:absolute;
  left:2px;
  top:109px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:27px;
}
#u35246 {
  position:absolute;
  left:271px;
  top:191px;
  width:111px;
  height:27px;
  color:#FF0000;
}
#u35247 {
  position:absolute;
  left:2px;
  top:6px;
  width:107px;
  word-wrap:break-word;
}
#u35248 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:200px;
}
#u35249 {
  position:absolute;
  left:62px;
  top:557px;
  width:719px;
  height:200px;
}
#u35250 {
  position:absolute;
  left:2px;
  top:92px;
  width:715px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:27px;
}
#u35251 {
  position:absolute;
  left:263px;
  top:568px;
  width:143px;
  height:27px;
  color:#FF0000;
}
#u35252 {
  position:absolute;
  left:2px;
  top:6px;
  width:139px;
  word-wrap:break-word;
}
#u35253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:27px;
}
#u35253 {
  position:absolute;
  left:455px;
  top:40px;
  width:125px;
  height:27px;
  color:#FF0000;
}
#u35254 {
  position:absolute;
  left:2px;
  top:6px;
  width:121px;
  word-wrap:break-word;
}
#u35255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:332px;
}
#u35255 {
  position:absolute;
  left:248px;
  top:218px;
  width:583px;
  height:332px;
}
#u35256 {
  position:absolute;
  left:2px;
  top:158px;
  width:579px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:332px;
}
#u35257 {
  position:absolute;
  left:248px;
  top:595px;
  width:583px;
  height:332px;
}
#u35258 {
  position:absolute;
  left:2px;
  top:158px;
  width:579px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:26px;
}
#u35259 {
  position:absolute;
  left:262px;
  top:299px;
  width:75px;
  height:26px;
}
#u35260 {
  position:absolute;
  left:2px;
  top:5px;
  width:71px;
  word-wrap:break-word;
}
