body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1082px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1082px;
  height:469px;
}
#u22073 {
  position:absolute;
  left:0px;
  top:0px;
  width:1082px;
  height:469px;
}
#u22074 {
  position:absolute;
  left:2px;
  top:226px;
  width:1078px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
}
#u22075 {
  position:absolute;
  left:872px;
  top:404px;
  width:113px;
  height:33px;
}
#u22076 {
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
}
#u22077 {
  position:absolute;
  left:911px;
  top:413px;
  width:75px;
  height:17px;
  font-size:12px;
  color:#FF6600;
}
#u22078 {
  position:absolute;
  left:2px;
  top:1px;
  width:71px;
  word-wrap:break-word;
}
#u22077_ann {
  position:absolute;
  left:979px;
  top:409px;
  width:1px;
  height:1px;
}
#u22079 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:51px;
}
#u22080 {
  position:absolute;
  left:221px;
  top:277px;
  width:484px;
  height:51px;
}
#u22081 {
  position:absolute;
  left:2px;
  top:18px;
  width:480px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:51px;
}
#u22082 {
  position:absolute;
  left:673px;
  top:279px;
  width:154px;
  height:51px;
}
#u22083 {
  position:absolute;
  left:2px;
  top:18px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22084 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u22085 {
  position:absolute;
  left:638px;
  top:281px;
  width:169px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u22086 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u22085_ann {
  position:absolute;
  left:800px;
  top:277px;
  width:1px;
  height:1px;
}
#u22087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u22087 {
  position:absolute;
  left:638px;
  top:313px;
  width:169px;
  height:15px;
  font-size:12px;
}
#u22088 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u22087_ann {
  position:absolute;
  left:800px;
  top:309px;
  width:1px;
  height:1px;
}
#u22089 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22090 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:143px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22091 {
  position:absolute;
  left:31px;
  top:512px;
  width:1020px;
  height:143px;
}
#u22092 {
  position:absolute;
  left:2px;
  top:64px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22093 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u22094 {
  position:absolute;
  left:59px;
  top:521px;
  width:40px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u22095 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u22096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF9900;
}
#u22096 {
  position:absolute;
  left:944px;
  top:517px;
  width:92px;
  height:22px;
  font-size:12px;
  color:#FF9900;
}
#u22097 {
  position:absolute;
  left:2px;
  top:4px;
  width:88px;
  word-wrap:break-word;
}
#u22098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:986px;
  height:2px;
}
#u22098 {
  position:absolute;
  left:53px;
  top:546px;
  width:985px;
  height:1px;
}
#u22099 {
  position:absolute;
  left:2px;
  top:-8px;
  width:981px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22100 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22101 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22102 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u22103 {
  position:absolute;
  left:59px;
  top:559px;
  width:100px;
  height:15px;
  font-size:12px;
}
#u22104 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u22103_ann {
  position:absolute;
  left:152px;
  top:555px;
  width:1px;
  height:1px;
}
#u22105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:21px;
}
#u22105 {
  position:absolute;
  left:170px;
  top:555px;
  width:196px;
  height:21px;
}
#u22106 {
  position:absolute;
  left:2px;
  top:2px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:17px;
}
#u22107 {
  position:absolute;
  left:380px;
  top:559px;
  width:218px;
  height:17px;
}
#u22108 {
  position:absolute;
  left:2px;
  top:0px;
  width:214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22109 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22110 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22111 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u22112 {
  position:absolute;
  left:59px;
  top:617px;
  width:100px;
  height:15px;
  font-size:12px;
}
#u22113 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u22112_ann {
  position:absolute;
  left:152px;
  top:613px;
  width:1px;
  height:1px;
}
#u22114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:21px;
}
#u22114 {
  position:absolute;
  left:170px;
  top:612px;
  width:196px;
  height:21px;
}
#u22115 {
  position:absolute;
  left:2px;
  top:2px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:28px;
}
#u22116 {
  position:absolute;
  left:404px;
  top:608px;
  width:43px;
  height:28px;
}
#u22117 {
  position:absolute;
  left:2px;
  top:6px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:13px;
}
#u22118 {
  position:absolute;
  left:377px;
  top:618px;
  width:15px;
  height:13px;
}
#u22119 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-decoration:underline;
  color:#FF9900;
}
#u22120 {
  position:absolute;
  left:975px;
  top:615px;
  width:49px;
  height:15px;
  font-size:12px;
  text-decoration:underline;
  color:#FF9900;
}
#u22121 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u22122 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22123 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22124 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22125 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u22126 {
  position:absolute;
  left:59px;
  top:587px;
  width:100px;
  height:15px;
  font-size:12px;
}
#u22127 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u22126_ann {
  position:absolute;
  left:152px;
  top:583px;
  width:1px;
  height:1px;
}
#u22128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:21px;
}
#u22128 {
  position:absolute;
  left:170px;
  top:584px;
  width:196px;
  height:21px;
}
#u22129 {
  position:absolute;
  left:2px;
  top:2px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:28px;
}
#u22130 {
  position:absolute;
  left:404px;
  top:580px;
  width:43px;
  height:28px;
}
#u22131 {
  position:absolute;
  left:2px;
  top:6px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:13px;
}
#u22132 {
  position:absolute;
  left:376px;
  top:588px;
  width:15px;
  height:13px;
}
#u22133 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-decoration:underline;
  color:#FF9900;
}
#u22134 {
  position:absolute;
  left:973px;
  top:587px;
  width:49px;
  height:15px;
  font-size:12px;
  text-decoration:underline;
  color:#FF9900;
}
#u22135 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u22136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:18px;
}
#u22136 {
  position:absolute;
  left:1022px;
  top:580px;
  width:26px;
  height:18px;
  font-size:10px;
}
#u22137 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  word-wrap:break-word;
}
#u22138 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22139 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1003px;
  height:32px;
}
#u22140 {
  position:absolute;
  left:36px;
  top:475px;
  width:1003px;
  height:32px;
}
#u22141 {
  position:absolute;
  left:2px;
  top:8px;
  width:999px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
}
#u22142 {
  position:absolute;
  left:903px;
  top:479px;
  width:78px;
  height:22px;
}
#u22143 {
  position:absolute;
  left:2px;
  top:3px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22144 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22145 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1003px;
  height:32px;
}
#u22146 {
  position:absolute;
  left:36px;
  top:442px;
  width:1003px;
  height:32px;
}
#u22147 {
  position:absolute;
  left:2px;
  top:8px;
  width:999px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
}
#u22148 {
  position:absolute;
  left:903px;
  top:447px;
  width:78px;
  height:22px;
}
#u22149 {
  position:absolute;
  left:2px;
  top:3px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1018px;
  height:2px;
}
#u22150 {
  position:absolute;
  left:31px;
  top:473px;
  width:1017px;
  height:1px;
}
#u22151 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1013px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22152 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:80px;
}
#u22153 {
  position:absolute;
  left:31px;
  top:433px;
  width:1px;
  height:79px;
}
#u22154 {
  position:absolute;
  left:2px;
  top:32px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:80px;
}
#u22155 {
  position:absolute;
  left:1049px;
  top:428px;
  width:1px;
  height:79px;
}
#u22156 {
  position:absolute;
  left:2px;
  top:32px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u22157 {
  position:absolute;
  left:97px;
  top:217px;
  width:25px;
  height:22px;
  font-size:12px;
  color:#FFFFFF;
}
#u22158 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u22159 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF6600;
}
#u22160 {
  position:absolute;
  left:863px;
  top:524px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#FF6600;
}
#u22161 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u22160_ann {
  position:absolute;
  left:917px;
  top:520px;
  width:1px;
  height:1px;
}
