body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:2180px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u30230 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u30231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1037px;
  height:125px;
}
#u30231 {
  position:absolute;
  left:1143px;
  top:127px;
  width:1037px;
  height:125px;
}
#u30232 {
  position:absolute;
  left:2px;
  top:54px;
  width:1033px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:573px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u30233 {
  position:absolute;
  left:1392px;
  top:174px;
  width:573px;
  height:54px;
  text-align:center;
}
#u30234 {
  position:absolute;
  left:0px;
  top:19px;
  width:573px;
  word-wrap:break-word;
}
#u30235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1049px;
  height:133px;
}
#u30235 {
  position:absolute;
  left:0px;
  top:0px;
  width:1049px;
  height:133px;
}
#u30236 {
  position:absolute;
  left:2px;
  top:58px;
  width:1045px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1049px;
  height:305px;
}
#u30237 {
  position:absolute;
  left:0px;
  top:129px;
  width:1049px;
  height:305px;
}
#u30238 {
  position:absolute;
  left:2px;
  top:144px;
  width:1045px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:34px;
}
#u30239 {
  position:absolute;
  left:34px;
  top:349px;
  width:73px;
  height:34px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u30240 {
  position:absolute;
  left:2px;
  top:9px;
  width:69px;
  word-wrap:break-word;
}
#u30241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:34px;
}
#u30241 {
  position:absolute;
  left:144px;
  top:349px;
  width:73px;
  height:34px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u30242 {
  position:absolute;
  left:2px;
  top:9px;
  width:69px;
  word-wrap:break-word;
}
#u30243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:34px;
}
#u30243 {
  position:absolute;
  left:251px;
  top:349px;
  width:73px;
  height:34px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u30244 {
  position:absolute;
  left:2px;
  top:9px;
  width:69px;
  word-wrap:break-word;
}
#u30245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:31px;
}
#u30245 {
  position:absolute;
  left:708px;
  top:311px;
  width:131px;
  height:31px;
}
#u30246 {
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
}
#u30247 {
  position:absolute;
  left:708px;
  top:156px;
  width:100px;
  height:33px;
}
#u30248 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1049px;
  height:146px;
}
#u30249 {
  position:absolute;
  left:0px;
  top:288px;
  width:1049px;
  height:146px;
}
#u30250 {
  position:absolute;
  left:2px;
  top:65px;
  width:1045px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:33px;
}
#u30251 {
  position:absolute;
  left:708px;
  top:304px;
  width:118px;
  height:33px;
}
#u30252 {
  position:absolute;
  left:2px;
  top:8px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:36px;
}
#u30253 {
  position:absolute;
  left:6px;
  top:303px;
  width:113px;
  height:36px;
}
#u30254 {
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:58px;
}
#u30255 {
  position:absolute;
  left:0px;
  top:87px;
  width:1040px;
  height:58px;
}
#u30256 {
  position:absolute;
  left:2px;
  top:21px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1049px;
  height:161px;
}
#u30257 {
  position:absolute;
  left:0px;
  top:133px;
  width:1049px;
  height:161px;
}
#u30258 {
  position:absolute;
  left:2px;
  top:72px;
  width:1045px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:76px;
}
#u30259 {
  position:absolute;
  left:13px;
  top:339px;
  width:352px;
  height:76px;
}
#u30260 {
  position:absolute;
  left:2px;
  top:30px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:32px;
}
#u30261 {
  position:absolute;
  left:943px;
  top:307px;
  width:89px;
  height:32px;
}
#u30262 {
  position:absolute;
  left:2px;
  top:8px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
