body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1227px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u35273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1227px;
  height:630px;
}
#u35273 {
  position:absolute;
  left:0px;
  top:0px;
  width:1227px;
  height:630px;
}
#u35274 {
  position:absolute;
  left:2px;
  top:307px;
  width:1223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35275 {
  position:absolute;
  left:567px;
  top:517px;
  width:119px;
  height:29px;
}
#u35276 {
  position:absolute;
  left:2px;
  top:6px;
  width:115px;
  word-wrap:break-word;
}
#u35277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:2px;
}
#u35277 {
  position:absolute;
  left:514px;
  top:556px;
  width:49px;
  height:1px;
}
#u35278 {
  position:absolute;
  left:2px;
  top:-8px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35279 {
  position:absolute;
  left:826px;
  top:556px;
  width:119px;
  height:29px;
}
#u35280 {
  position:absolute;
  left:2px;
  top:6px;
  width:115px;
  word-wrap:break-word;
}
#u35281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:2px;
}
#u35281 {
  position:absolute;
  left:774px;
  top:597px;
  width:49px;
  height:1px;
}
#u35282 {
  position:absolute;
  left:2px;
  top:-8px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35283 {
  position:absolute;
  left:606px;
  top:444px;
  width:9px;
  height:16px;
}
#u35284 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u35285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35285 {
  position:absolute;
  left:620px;
  top:418px;
  width:43px;
  height:16px;
}
#u35286 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u35287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35287 {
  position:absolute;
  left:618px;
  top:444px;
  width:39px;
  height:16px;
}
#u35288 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
