body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1223px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u31288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1223px;
  height:490px;
}
#u31288 {
  position:absolute;
  left:0px;
  top:0px;
  width:1223px;
  height:490px;
}
#u31289 {
  position:absolute;
  left:2px;
  top:237px;
  width:1219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1213px;
  height:175px;
}
#u31290 {
  position:absolute;
  left:7px;
  top:485px;
  width:1213px;
  height:175px;
}
#u31291 {
  position:absolute;
  left:2px;
  top:80px;
  width:1209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1114px;
  height:188px;
}
#u31292 {
  position:absolute;
  left:5px;
  top:665px;
  width:1114px;
  height:188px;
}
#u31293 {
  position:absolute;
  left:2px;
  top:86px;
  width:1110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u31294 {
  position:absolute;
  left:1076px;
  top:813px;
  width:35px;
  height:35px;
}
#u31295 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
}
#u31296 {
  position:absolute;
  left:815px;
  top:109px;
  width:98px;
  height:22px;
}
#u31297 {
  position:absolute;
  left:2px;
  top:3px;
  width:94px;
  word-wrap:break-word;
}
