body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1132px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1132px;
  height:581px;
}
#u28973 {
  position:absolute;
  left:0px;
  top:0px;
  width:1132px;
  height:581px;
}
#u28974 {
  position:absolute;
  left:2px;
  top:282px;
  width:1128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:18px;
}
#u28975 {
  position:absolute;
  left:54px;
  top:308px;
  width:74px;
  height:18px;
  color:#FFFFFF;
}
#u28976 {
  position:absolute;
  left:2px;
  top:1px;
  width:70px;
  word-wrap:break-word;
}
#u28977 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1089px;
  height:139px;
}
#u28978 {
  position:absolute;
  left:32px;
  top:581px;
  width:1089px;
  height:139px;
}
#u28979 {
  position:absolute;
  left:2px;
  top:62px;
  width:1085px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28980 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1089px;
  height:139px;
}
#u28981 {
  position:absolute;
  left:27px;
  top:284px;
  width:1089px;
  height:139px;
}
#u28982 {
  position:absolute;
  left:2px;
  top:62px;
  width:1085px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:31px;
}
#u28983 {
  position:absolute;
  left:58px;
  top:350px;
  width:74px;
  height:31px;
}
#u28984 {
  position:absolute;
  left:2px;
  top:8px;
  width:70px;
  word-wrap:break-word;
}
#u28985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:31px;
}
#u28985 {
  position:absolute;
  left:179px;
  top:350px;
  width:74px;
  height:31px;
}
#u28986 {
  position:absolute;
  left:2px;
  top:8px;
  width:70px;
  word-wrap:break-word;
}
#u28987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:31px;
}
#u28987 {
  position:absolute;
  left:297px;
  top:350px;
  width:74px;
  height:31px;
}
#u28988 {
  position:absolute;
  left:2px;
  top:8px;
  width:70px;
  word-wrap:break-word;
}
#u28989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1112px;
  height:170px;
}
#u28989 {
  position:absolute;
  left:20px;
  top:433px;
  width:1112px;
  height:170px;
}
#u28990 {
  position:absolute;
  left:2px;
  top:77px;
  width:1108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1088px;
  height:80px;
}
#u28991 {
  position:absolute;
  left:44px;
  top:422px;
  width:1088px;
  height:80px;
}
#u28992 {
  position:absolute;
  left:2px;
  top:32px;
  width:1084px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:38px;
}
#u28993 {
  position:absolute;
  left:998px;
  top:299px;
  width:96px;
  height:38px;
}
#u28994 {
  position:absolute;
  left:2px;
  top:11px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28995 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1089px;
  height:59px;
}
#u28996 {
  position:absolute;
  left:28px;
  top:504px;
  width:1089px;
  height:59px;
}
#u28997 {
  position:absolute;
  left:2px;
  top:22px;
  width:1085px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
}
#u28998 {
  position:absolute;
  left:1021px;
  top:500px;
  width:73px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u28999 {
  position:absolute;
  left:2px;
  top:4px;
  width:69px;
  word-wrap:break-word;
}
#u29000 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29001 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1087px;
  height:59px;
}
#u29002 {
  position:absolute;
  left:27px;
  top:430px;
  width:1087px;
  height:59px;
}
#u29003 {
  position:absolute;
  left:2px;
  top:22px;
  width:1083px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:24px;
}
#u29004 {
  position:absolute;
  left:997px;
  top:428px;
  width:96px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u29005 {
  position:absolute;
  left:2px;
  top:4px;
  width:92px;
  word-wrap:break-word;
}
#u29006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:29px;
}
#u29006 {
  position:absolute;
  left:57px;
  top:430px;
  width:74px;
  height:29px;
}
#u29007 {
  position:absolute;
  left:2px;
  top:6px;
  width:70px;
  word-wrap:break-word;
}
#u29008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:29px;
}
#u29008 {
  position:absolute;
  left:178px;
  top:430px;
  width:74px;
  height:29px;
}
#u29009 {
  position:absolute;
  left:2px;
  top:6px;
  width:70px;
  word-wrap:break-word;
}
#u29010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:29px;
}
#u29010 {
  position:absolute;
  left:296px;
  top:430px;
  width:74px;
  height:29px;
}
#u29011 {
  position:absolute;
  left:2px;
  top:6px;
  width:70px;
  word-wrap:break-word;
}
#u29012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:29px;
}
#u29012 {
  position:absolute;
  left:58px;
  top:358px;
  width:74px;
  height:29px;
}
#u29013 {
  position:absolute;
  left:2px;
  top:6px;
  width:70px;
  word-wrap:break-word;
}
#u29014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:29px;
}
#u29014 {
  position:absolute;
  left:179px;
  top:357px;
  width:74px;
  height:29px;
}
#u29015 {
  position:absolute;
  left:2px;
  top:6px;
  width:70px;
  word-wrap:break-word;
}
#u29016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:29px;
}
#u29016 {
  position:absolute;
  left:297px;
  top:357px;
  width:74px;
  height:29px;
}
#u29017 {
  position:absolute;
  left:2px;
  top:6px;
  width:70px;
  word-wrap:break-word;
}
#u29018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
}
#u29018 {
  position:absolute;
  left:877px;
  top:430px;
  width:101px;
  height:20px;
}
#u29019 {
  position:absolute;
  left:2px;
  top:2px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1089px;
  height:54px;
}
#u29020 {
  position:absolute;
  left:25px;
  top:356px;
  width:1089px;
  height:54px;
}
#u29021 {
  position:absolute;
  left:2px;
  top:19px;
  width:1085px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:28px;
}
#u29022 {
  position:absolute;
  left:1008px;
  top:347px;
  width:86px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u29023 {
  position:absolute;
  left:2px;
  top:6px;
  width:82px;
  word-wrap:break-word;
}
#u29024 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF6600;
}
#u29025 {
  position:absolute;
  left:32px;
  top:416px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FF6600;
}
#u29026 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u29027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:9px;
}
#u29027 {
  position:absolute;
  left:91px;
  top:420px;
  width:12px;
  height:9px;
}
#u29028 {
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
