body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1070px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u25399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1070px;
  height:629px;
}
#u25399 {
  position:absolute;
  left:0px;
  top:0px;
  width:1070px;
  height:629px;
}
#u25400 {
  position:absolute;
  left:2px;
  top:306px;
  width:1066px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25401 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
}
#u25402 {
  position:absolute;
  left:829px;
  top:230px;
  width:210px;
  height:30px;
}
#u25403 {
  position:absolute;
  left:2px;
  top:7px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u25404 {
  position:absolute;
  left:928px;
  top:238px;
  width:81px;
  height:15px;
  font-size:12px;
}
#u25405 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u25406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF9900;
}
#u25406 {
  position:absolute;
  left:951px;
  top:312px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#FF9900;
}
#u25407 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u25408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF6600;
}
#u25408 {
  position:absolute;
  left:730px;
  top:314px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#FF6600;
}
#u25409 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u25410 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25411_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
}
#u25411 {
  position:absolute;
  left:837px;
  top:375px;
  width:210px;
  height:30px;
}
#u25412 {
  position:absolute;
  left:2px;
  top:7px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25413_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u25413 {
  position:absolute;
  left:932px;
  top:383px;
  width:81px;
  height:15px;
  font-size:12px;
}
#u25414 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u25415 {
  position:absolute;
  left:276px;
  top:248px;
  width:487px;
  height:268px;
  overflow:hidden;
  visibility:hidden;
}
#u25415_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:268px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u25415_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25416 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:260px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25417 {
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:260px;
}
#u25418 {
  position:absolute;
  left:2px;
  top:122px;
  width:479px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25419 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u25420 {
  position:absolute;
  left:10px;
  top:9px;
  width:53px;
  height:16px;
  font-size:13px;
}
#u25421 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u25422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:17px;
}
#u25422 {
  position:absolute;
  left:451px;
  top:9px;
  width:18px;
  height:17px;
}
#u25423 {
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25422_ann {
  position:absolute;
  left:462px;
  top:5px;
  width:1px;
  height:1px;
}
#u25424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:2px;
}
#u25424 {
  position:absolute;
  left:10px;
  top:30px;
  width:452px;
  height:1px;
}
#u25425 {
  position:absolute;
  left:2px;
  top:-8px;
  width:448px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25426 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25427_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
}
#u25427 {
  position:absolute;
  left:201px;
  top:203px;
  width:43px;
  height:16px;
  color:#BCBCBC;
}
#u25428 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u25429 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25430 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25431_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u25431 {
  position:absolute;
  left:110px;
  top:88px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u25432 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u25433 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u25434 {
  position:absolute;
  left:187px;
  top:88px;
  width:228px;
  height:15px;
  font-size:12px;
}
#u25435 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  white-space:nowrap;
}
#u25436 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25437_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u25437 {
  position:absolute;
  left:110px;
  top:54px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u25438 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u25439 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25440 {
  position:absolute;
  left:192px;
  top:53px;
  width:71px;
  height:16px;
}
#u25441 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u25442 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25443 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u25444 {
  position:absolute;
  left:110px;
  top:125px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u25445 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u25446 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25447_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u25447 {
  position:absolute;
  left:186px;
  top:125px;
  width:178px;
  height:15px;
  font-size:12px;
}
#u25448 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  white-space:nowrap;
}
#u25449_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
}
#u25449 {
  position:absolute;
  left:87px;
  top:226px;
  width:56px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u25450 {
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
#u25451_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
}
#u25451 {
  position:absolute;
  left:87px;
  top:365px;
  width:56px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u25452 {
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
#u25453_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF9900;
}
#u25453 {
  position:absolute;
  left:951px;
  top:454px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#FF9900;
}
#u25454 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
