body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1132px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1132px;
  height:581px;
}
#u28894 {
  position:absolute;
  left:0px;
  top:0px;
  width:1132px;
  height:581px;
}
#u28895 {
  position:absolute;
  left:2px;
  top:282px;
  width:1128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1089px;
  height:141px;
}
#u28896 {
  position:absolute;
  left:29px;
  top:286px;
  width:1089px;
  height:141px;
}
#u28897 {
  position:absolute;
  left:2px;
  top:62px;
  width:1085px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1089px;
  height:141px;
}
#u28898 {
  position:absolute;
  left:29px;
  top:437px;
  width:1089px;
  height:141px;
}
#u28899 {
  position:absolute;
  left:2px;
  top:62px;
  width:1085px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:18px;
}
#u28900 {
  position:absolute;
  left:59px;
  top:312px;
  width:74px;
  height:18px;
  color:#FFFFFF;
}
#u28901 {
  position:absolute;
  left:2px;
  top:1px;
  width:70px;
  word-wrap:break-word;
}
#u28902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:18px;
}
#u28902 {
  position:absolute;
  left:52px;
  top:462px;
  width:74px;
  height:18px;
  color:#FFFFFF;
}
#u28903 {
  position:absolute;
  left:2px;
  top:1px;
  width:70px;
  word-wrap:break-word;
}
