body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1238px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u34738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1238px;
  height:610px;
}
#u34738 {
  position:absolute;
  left:0px;
  top:0px;
  width:1238px;
  height:610px;
}
#u34739 {
  position:absolute;
  left:2px;
  top:297px;
  width:1234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF33FF;
}
#u34740 {
  position:absolute;
  left:116px;
  top:308px;
  width:52px;
  height:15px;
  font-size:12px;
  color:#FF33FF;
}
#u34741 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u34742 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34743 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:106px;
}
#u34744 {
  position:absolute;
  left:161px;
  top:259px;
  width:425px;
  height:106px;
  color:#FF33FF;
}
#u34745 {
  position:absolute;
  left:2px;
  top:45px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF33FF;
}
#u34746 {
  position:absolute;
  left:563px;
  top:312px;
  width:9px;
  height:16px;
  color:#FF33FF;
}
#u34747 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u34748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF33FF;
}
#u34748 {
  position:absolute;
  left:572px;
  top:280px;
  width:43px;
  height:16px;
  color:#FF33FF;
}
#u34749 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u34750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF33FF;
}
#u34750 {
  position:absolute;
  left:572px;
  top:311px;
  width:47px;
  height:16px;
  color:#FF33FF;
}
#u34751 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u34752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:26px;
}
#u34752 {
  position:absolute;
  left:451px;
  top:278px;
  width:87px;
  height:26px;
  color:#FF33FF;
}
#u34753 {
  position:absolute;
  left:2px;
  top:5px;
  width:83px;
  word-wrap:break-word;
}
#u34754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:26px;
}
#u34754 {
  position:absolute;
  left:315px;
  top:278px;
  width:85px;
  height:26px;
  color:#FF33FF;
}
#u34755 {
  position:absolute;
  left:2px;
  top:5px;
  width:81px;
  word-wrap:break-word;
}
