body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1143px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u27748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1074px;
  height:590px;
}
#u27748 {
  position:absolute;
  left:0px;
  top:0px;
  width:1074px;
  height:590px;
}
#u27749 {
  position:absolute;
  left:2px;
  top:287px;
  width:1070px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:19px;
}
#u27750 {
  position:absolute;
  left:347px;
  top:188px;
  width:300px;
  height:19px;
}
#u27751 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27752 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:155px;
}
#u27753 {
  position:absolute;
  left:330px;
  top:402px;
  width:422px;
  height:155px;
}
#u27754 {
  position:absolute;
  left:2px;
  top:70px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:45px;
}
#u27755 {
  position:absolute;
  left:418px;
  top:480px;
  width:259px;
  height:45px;
}
#u27756 {
  position:absolute;
  left:2px;
  top:14px;
  width:255px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27757 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27758 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u27759 {
  position:absolute;
  left:432px;
  top:377px;
  width:73px;
  height:15px;
  font-size:12px;
}
#u27760 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u27761 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u27762 {
  position:absolute;
  left:508px;
  top:377px;
  width:105px;
  height:15px;
  font-size:12px;
}
#u27763 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u27764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:15px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u27764 {
  position:absolute;
  left:621px;
  top:377px;
  width:153px;
  height:15px;
  font-size:12px;
}
#u27765 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u27766 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u27767 {
  position:absolute;
  left:444px;
  top:408px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u27768 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u27769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u27769 {
  position:absolute;
  left:508px;
  top:408px;
  width:212px;
  height:45px;
  font-size:12px;
}
#u27770 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u27771 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u27772 {
  position:absolute;
  left:418px;
  top:295px;
  width:405px;
  height:15px;
  font-size:12px;
}
#u27773 {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  white-space:nowrap;
}
#u27774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF9900;
}
#u27774 {
  position:absolute;
  left:350px;
  top:190px;
  width:345px;
  height:45px;
  font-size:12px;
  color:#FF9900;
}
#u27775 {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  word-wrap:break-word;
}
#u27776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:15px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u27776 {
  position:absolute;
  left:816px;
  top:295px;
  width:327px;
  height:15px;
  font-size:12px;
}
#u27777 {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  word-wrap:break-word;
}
