body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1021px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1113px;
  height:640px;
}
#u28203 {
  position:absolute;
  left:-46px;
  top:-55px;
  width:1113px;
  height:640px;
}
#u28204 {
  position:absolute;
  left:2px;
  top:312px;
  width:1109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:45px;
}
#u28205 {
  position:absolute;
  left:670px;
  top:303px;
  width:304px;
  height:45px;
}
#u28206 {
  position:absolute;
  left:2px;
  top:14px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28207 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u28208 {
  position:absolute;
  left:563px;
  top:294px;
  width:98px;
  height:15px;
  font-size:12px;
}
#u28209 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u28210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u28210 {
  position:absolute;
  left:669px;
  top:294px;
  width:74px;
  height:15px;
  font-size:12px;
}
#u28211 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u28212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u28212 {
  position:absolute;
  left:755px;
  top:294px;
  width:92px;
  height:15px;
  font-size:12px;
}
#u28213 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u28214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u28214 {
  position:absolute;
  left:865px;
  top:294px;
  width:98px;
  height:15px;
  font-size:12px;
}
#u28215 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
