body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1225px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u34726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1225px;
  height:642px;
}
#u34726 {
  position:absolute;
  left:0px;
  top:0px;
  width:1225px;
  height:642px;
}
#u34727 {
  position:absolute;
  left:2px;
  top:313px;
  width:1221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
}
#u34728 {
  position:absolute;
  left:88px;
  top:215px;
  width:65px;
  height:24px;
  font-size:12px;
  color:#FF0000;
}
#u34729 {
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  word-wrap:break-word;
}
#u34730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u34730 {
  position:absolute;
  left:93px;
  top:234px;
  width:82px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u34731 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u34732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u34732 {
  position:absolute;
  left:412px;
  top:234px;
  width:82px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u34733 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u34734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34734 {
  position:absolute;
  left:501px;
  top:420px;
  width:427px;
  height:34px;
}
#u34735 {
  position:absolute;
  left:2px;
  top:9px;
  width:423px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u34736 {
  position:absolute;
  left:508px;
  top:430px;
  width:483px;
  height:15px;
  font-size:12px;
}
#u34737 {
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  word-wrap:break-word;
}
