body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:382px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:671px;
}
#u28731 {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:671px;
}
#u28732 {
  position:absolute;
  left:2px;
  top:328px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:540px;
}
#u28733 {
  position:absolute;
  left:0px;
  top:71px;
  width:373px;
  height:540px;
}
#u28734 {
  position:absolute;
  left:2px;
  top:262px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:240px;
}
#u28735 {
  position:absolute;
  left:0px;
  top:90px;
  width:302px;
  height:240px;
}
#u28736 {
  position:absolute;
  left:2px;
  top:112px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:27px;
}
#u28737 {
  position:absolute;
  left:160px;
  top:339px;
  width:62px;
  height:27px;
}
#u28738 {
  position:absolute;
  left:2px;
  top:6px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28739 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:72px;
}
#u28740 {
  position:absolute;
  left:4px;
  top:375px;
  width:289px;
  height:72px;
}
#u28741 {
  position:absolute;
  left:2px;
  top:28px;
  width:285px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:41px;
}
#u28742 {
  position:absolute;
  left:69px;
  top:391px;
  width:189px;
  height:41px;
}
#u28743 {
  position:absolute;
  left:2px;
  top:12px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u28744 {
  position:absolute;
  left:84px;
  top:394px;
  width:155px;
  height:16px;
  color:#FFFFFF;
}
#u28745 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
