body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1065px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1065px;
  height:597px;
}
#u28643 {
  position:absolute;
  left:0px;
  top:0px;
  width:1065px;
  height:597px;
}
#u28644 {
  position:absolute;
  left:2px;
  top:290px;
  width:1061px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:305px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28645 {
  position:absolute;
  left:293px;
  top:133px;
  width:338px;
  height:305px;
}
#u28646 {
  position:absolute;
  left:2px;
  top:144px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u28647 {
  position:absolute;
  left:446px;
  top:212px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u28648 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u28649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#000000;
  text-align:center;
}
#u28649 {
  position:absolute;
  left:352px;
  top:270px;
  width:239px;
  height:16px;
  font-size:13px;
  color:#000000;
  text-align:center;
}
#u28650 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u28651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:38px;
}
#u28651 {
  position:absolute;
  left:377px;
  top:344px;
  width:183px;
  height:38px;
}
#u28652 {
  position:absolute;
  left:2px;
  top:11px;
  width:179px;
  word-wrap:break-word;
}
#u28653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:17px;
}
#u28653 {
  position:absolute;
  left:604px;
  top:142px;
  width:18px;
  height:17px;
}
#u28654 {
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28653_ann {
  position:absolute;
  left:615px;
  top:138px;
  width:1px;
  height:1px;
}
