body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1998px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u41867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:633px;
}
#u41867 {
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:633px;
  font-size:12px;
}
#u41868 {
  position:absolute;
  left:2px;
  top:308px;
  width:1236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u41869 {
  position:absolute;
  left:1071px;
  top:287px;
  width:119px;
  height:32px;
  font-size:12px;
}
#u41870 {
  position:absolute;
  left:2px;
  top:8px;
  width:115px;
  word-wrap:break-word;
}
#u41871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:59px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u41871 {
  position:absolute;
  left:1071px;
  top:319px;
  width:119px;
  height:59px;
  font-size:12px;
}
#u41872 {
  position:absolute;
  left:2px;
  top:22px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u41873 {
  position:absolute;
  left:1078px;
  top:329px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u41874 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u41875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u41875 {
  position:absolute;
  left:1078px;
  top:355px;
  width:85px;
  height:15px;
  font-size:12px;
}
#u41876 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u41877 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41878 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  height:497px;
}
#u41879 {
  position:absolute;
  left:1288px;
  top:0px;
  width:588px;
  height:497px;
  font-size:12px;
}
#u41880 {
  position:absolute;
  left:2px;
  top:240px;
  width:584px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u41881 {
  position:absolute;
  left:1385px;
  top:18px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u41882 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u41883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  height:2px;
}
#u41883 {
  position:absolute;
  left:1288px;
  top:497px;
  width:588px;
  height:1px;
  font-size:12px;
}
#u41884 {
  position:absolute;
  left:2px;
  top:-8px;
  width:584px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:589px;
}
#u41885 {
  position:absolute;
  left:1288px;
  top:549px;
  width:710px;
  height:589px;
  font-size:12px;
}
#u41886 {
  position:absolute;
  left:2px;
  top:286px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:646px;
  height:422px;
}
#u41887 {
  position:absolute;
  left:1331px;
  top:615px;
  width:646px;
  height:422px;
  font-size:12px;
}
#u41888 {
  position:absolute;
  left:2px;
  top:203px;
  width:642px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF9900;
}
#u41889 {
  position:absolute;
  left:1373px;
  top:643px;
  width:341px;
  height:15px;
  font-size:12px;
  color:#FF9900;
}
#u41890 {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  word-wrap:break-word;
}
#u41891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:534px;
  height:104px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u41891 {
  position:absolute;
  left:1374px;
  top:670px;
  width:534px;
  height:104px;
  font-size:12px;
}
#u41892 {
  position:absolute;
  left:2px;
  top:44px;
  width:530px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#515151;
}
#u41893 {
  position:absolute;
  left:1386px;
  top:730px;
  width:432px;
  height:15px;
  font-size:12px;
  color:#515151;
}
#u41894 {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  white-space:nowrap;
}
#u41895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u41895 {
  position:absolute;
  left:1374px;
  top:781px;
  width:66px;
  height:15px;
  font-size:12px;
}
#u41896 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u41897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:534px;
  height:118px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#BCBCBC;
  text-align:left;
}
#u41897 {
  position:absolute;
  left:1374px;
  top:804px;
  width:534px;
  height:118px;
  font-size:12px;
  color:#BCBCBC;
  text-align:left;
}
#u41898 {
  position:absolute;
  left:2px;
  top:52px;
  width:530px;
  word-wrap:break-word;
}
#u41899 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#C9C9C9;
}
#u41900 {
  position:absolute;
  left:1518px;
  top:643px;
  width:214px;
  height:15px;
  font-size:12px;
  color:#C9C9C9;
}
#u41901 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  white-space:nowrap;
}
#u41902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#C9C9C9;
}
#u41902 {
  position:absolute;
  left:1508px;
  top:573px;
  width:421px;
  height:15px;
  font-size:12px;
  color:#C9C9C9;
}
#u41903 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  white-space:nowrap;
}
#u41904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41904 {
  position:absolute;
  left:1409px;
  top:572px;
  width:99px;
  height:16px;
}
#u41905 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u41906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  height:96px;
}
#u41906 {
  position:absolute;
  left:1353px;
  top:950px;
  width:568px;
  height:96px;
  font-size:12px;
}
#u41907 {
  position:absolute;
  left:2px;
  top:40px;
  width:564px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41908 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#C9C9C9;
}
#u41909 {
  position:absolute;
  left:1515px;
  top:691px;
  width:111px;
  height:26px;
  font-size:12px;
  color:#C9C9C9;
}
#u41910 {
  position:absolute;
  left:2px;
  top:5px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u41911 {
  position:absolute;
  left:1630px;
  top:698px;
  width:13px;
  height:15px;
  font-size:12px;
}
#u41912 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u41913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u41913 {
  position:absolute;
  left:1386px;
  top:698px;
  width:136px;
  height:15px;
  font-size:12px;
}
#u41914 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
