body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-32px;
  width:1054px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13113 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1054px;
  height:50px;
}
#u13114 {
  position:absolute;
  left:32px;
  top:107px;
  width:1054px;
  height:50px;
}
#u13115 {
  position:absolute;
  left:2px;
  top:17px;
  width:1050px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u13116 {
  position:absolute;
  left:620px;
  top:113px;
  width:154px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u13117 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u13118 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u13119 {
  position:absolute;
  left:261px;
  top:118px;
  width:11px;
  height:11px;
}
#u13120 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13121 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#868686;
}
#u13122 {
  position:absolute;
  left:108px;
  top:115px;
  width:29px;
  height:16px;
  color:#868686;
}
#u13123 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u13124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#868686;
}
#u13124 {
  position:absolute;
  left:83px;
  top:131px;
  width:92px;
  height:14px;
  font-size:11px;
  color:#868686;
}
#u13125 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u13126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#868686;
}
#u13126 {
  position:absolute;
  left:271px;
  top:133px;
  width:144px;
  height:14px;
  font-size:11px;
  color:#868686;
}
#u13127 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u13128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#868686;
}
#u13128 {
  position:absolute;
  left:420px;
  top:133px;
  width:122px;
  height:14px;
  font-size:11px;
  color:#868686;
}
#u13129 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u13130 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13131 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
  text-align:center;
}
#u13132 {
  position:absolute;
  left:330px;
  top:114px;
  width:171px;
  height:14px;
  color:#949494;
  text-align:center;
}
#u13133 {
  position:absolute;
  left:0px;
  top:-1px;
  width:171px;
  word-wrap:break-word;
}
#u13134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u13134 {
  position:absolute;
  left:552px;
  top:118px;
  width:11px;
  height:11px;
}
#u13135 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
