body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1269px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u49564_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1216px;
  height:632px;
}
#u49564 {
  position:absolute;
  left:0px;
  top:0px;
  width:1216px;
  height:632px;
}
#u49565 {
  position:absolute;
  left:2px;
  top:308px;
  width:1212px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49566_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49566 {
  position:absolute;
  left:1212px;
  top:297px;
  width:57px;
  height:16px;
}
#u49567 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u49568_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49568 {
  position:absolute;
  left:1220px;
  top:354px;
  width:43px;
  height:16px;
}
#u49569 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u49570_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49570 {
  position:absolute;
  left:1220px;
  top:403px;
  width:43px;
  height:16px;
}
#u49571 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u49572_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49572 {
  position:absolute;
  left:1220px;
  top:453px;
  width:43px;
  height:16px;
}
#u49573 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u49574_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49574 {
  position:absolute;
  left:1220px;
  top:508px;
  width:43px;
  height:16px;
}
#u49575 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u49576_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49576 {
  position:absolute;
  left:1220px;
  top:558px;
  width:43px;
  height:16px;
}
#u49577 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u49578_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49578 {
  position:absolute;
  left:1220px;
  top:604px;
  width:43px;
  height:16px;
}
#u49579 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u49580 {
  position:absolute;
  left:570px;
  top:208px;
  width:115px;
  height:22px;
}
#u49580_input {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u49580_input:disabled {
  color:grayText;
}
#u49581_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49581 {
  position:absolute;
  left:495px;
  top:211px;
  width:57px;
  height:16px;
}
#u49582 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
