body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1064px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:17px;
}
#u28746 {
  position:absolute;
  left:317px;
  top:104px;
  width:67px;
  height:17px;
  font-size:11px;
  color:#FFFFFF;
}
#u28747 {
  position:absolute;
  left:2px;
  top:2px;
  width:63px;
  word-wrap:break-word;
}
#u28748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1064px;
  height:539px;
}
#u28748 {
  position:absolute;
  left:0px;
  top:0px;
  width:1064px;
  height:539px;
}
#u28749 {
  position:absolute;
  left:2px;
  top:262px;
  width:1060px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28750 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28751 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:368px;
}
#u28752 {
  position:absolute;
  left:276px;
  top:90px;
  width:618px;
  height:368px;
}
#u28753 {
  position:absolute;
  left:2px;
  top:176px;
  width:614px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
}
#u28754 {
  position:absolute;
  left:408px;
  top:313px;
  width:35px;
  height:28px;
  font-size:12px;
}
#u28755 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  word-wrap:break-word;
}
#u28756 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:313px;
}
#u28757 {
  position:absolute;
  left:534px;
  top:129px;
  width:354px;
  height:313px;
}
#u28758 {
  position:absolute;
  left:2px;
  top:148px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u28759 {
  position:absolute;
  left:612px;
  top:216px;
  width:85px;
  height:33px;
  font-size:28px;
}
#u28760 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u28761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u28761 {
  position:absolute;
  left:598px;
  top:284px;
  width:273px;
  height:57px;
  font-size:16px;
}
#u28762 {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  word-wrap:break-word;
}
