body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1054px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1054px;
  height:630px;
}
#u21622 {
  position:absolute;
  left:0px;
  top:0px;
  width:1054px;
  height:630px;
}
#u21623 {
  position:absolute;
  left:2px;
  top:307px;
  width:1050px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21624 {
  position:absolute;
  left:320px;
  top:247px;
  width:411px;
  height:291px;
  overflow:hidden;
}
#u21624_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:291px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u21624_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:291px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21625 {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:291px;
}
#u21626 {
  position:absolute;
  left:2px;
  top:138px;
  width:405px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21627_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u21627 {
  position:absolute;
  left:9px;
  top:8px;
  width:105px;
  height:16px;
  font-size:13px;
}
#u21628 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u21629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:2px;
}
#u21629 {
  position:absolute;
  left:9px;
  top:30px;
  width:105px;
  height:1px;
}
#u21630 {
  position:absolute;
  left:2px;
  top:-8px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u21631 {
  position:absolute;
  left:28px;
  top:52px;
  width:347px;
  height:92px;
  text-align:left;
}
#u21632 {
  position:absolute;
  left:2px;
  top:14px;
  width:343px;
  word-wrap:break-word;
}
#u21633_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21633 {
  position:absolute;
  left:9px;
  top:41px;
  width:15px;
  height:16px;
}
#u21634 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u21635 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u21636 {
  position:absolute;
  left:69px;
  top:242px;
  width:92px;
  height:30px;
}
#u21637 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u21638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u21638 {
  position:absolute;
  left:222px;
  top:242px;
  width:92px;
  height:30px;
}
#u21639 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u21640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#BCBCBC;
}
#u21640 {
  position:absolute;
  left:28px;
  top:155px;
  width:230px;
  height:15px;
  font-size:12px;
  color:#BCBCBC;
}
#u21641 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  white-space:nowrap;
}
#u21642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#BCBCBC;
}
#u21642 {
  position:absolute;
  left:62px;
  top:176px;
  width:174px;
  height:15px;
  font-size:12px;
  color:#BCBCBC;
}
#u21643 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u21644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#BCBCBC;
}
#u21644 {
  position:absolute;
  left:62px;
  top:197px;
  width:212px;
  height:15px;
  font-size:12px;
  color:#BCBCBC;
}
#u21645 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  white-space:nowrap;
}
