body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1007px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1063px;
  height:595px;
}
#u21688 {
  position:absolute;
  left:-28px;
  top:-32px;
  width:1063px;
  height:595px;
}
#u21689 {
  position:absolute;
  left:2px;
  top:290px;
  width:1059px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:26px;
}
#u21690 {
  position:absolute;
  left:340px;
  top:186px;
  width:367px;
  height:26px;
}
#u21691 {
  position:absolute;
  left:2px;
  top:5px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:28px;
}
#u21692 {
  position:absolute;
  left:340px;
  top:214px;
  width:354px;
  height:28px;
}
#u21693 {
  position:absolute;
  left:2px;
  top:6px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u21694 {
  position:absolute;
  left:353px;
  top:215px;
  width:158px;
  height:15px;
  font-size:12px;
}
#u21695 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u21696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u21696 {
  position:absolute;
  left:819px;
  top:215px;
  width:172px;
  height:15px;
  font-size:12px;
}
#u21697 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  white-space:nowrap;
}
#u21696_ann {
  position:absolute;
  left:984px;
  top:211px;
  width:1px;
  height:1px;
}
#u21698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:32px;
}
#u21698 {
  position:absolute;
  left:450px;
  top:444px;
  width:415px;
  height:32px;
}
#u21699 {
  position:absolute;
  left:2px;
  top:8px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:42px;
}
#u21700 {
  position:absolute;
  left:361px;
  top:434px;
  width:133px;
  height:42px;
}
#u21701 {
  position:absolute;
  left:2px;
  top:13px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u21702 {
  position:absolute;
  left:337px;
  top:453px;
  width:172px;
  height:15px;
  font-size:12px;
}
#u21703 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  white-space:nowrap;
}
#u21704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u21704 {
  position:absolute;
  left:66px;
  top:130px;
  width:25px;
  height:22px;
  font-size:12px;
  color:#FFFFFF;
}
#u21705 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
