body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1054px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1054px;
  height:593px;
}
#u22399 {
  position:absolute;
  left:0px;
  top:0px;
  width:1054px;
  height:593px;
}
#u22400 {
  position:absolute;
  left:2px;
  top:288px;
  width:1050px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22401_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:32px;
}
#u22401 {
  position:absolute;
  left:749px;
  top:455px;
  width:226px;
  height:32px;
}
#u22402 {
  position:absolute;
  left:2px;
  top:8px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
}
#u22403 {
  position:absolute;
  left:985px;
  top:454px;
  width:54px;
  height:25px;
}
#u22404 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22405_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1048px;
  height:106px;
}
#u22405 {
  position:absolute;
  left:6px;
  top:505px;
  width:1048px;
  height:106px;
}
#u22406 {
  position:absolute;
  left:2px;
  top:45px;
  width:1044px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22407_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1009px;
  height:57px;
}
#u22407 {
  position:absolute;
  left:21px;
  top:497px;
  width:1009px;
  height:57px;
}
#u22408 {
  position:absolute;
  left:2px;
  top:20px;
  width:1005px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22409_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
}
#u22409 {
  position:absolute;
  left:897px;
  top:500px;
  width:78px;
  height:22px;
  font-size:12px;
  color:#FF9900;
}
#u22410 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u22411_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1044px;
  height:110px;
}
#u22411 {
  position:absolute;
  left:6px;
  top:556px;
  width:1044px;
  height:110px;
}
#u22412 {
  position:absolute;
  left:2px;
  top:47px;
  width:1040px;
  visibility:hidden;
  word-wrap:break-word;
}
