body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1132px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1132px;
  height:581px;
}
#u28884 {
  position:absolute;
  left:0px;
  top:0px;
  width:1132px;
  height:581px;
}
#u28885 {
  position:absolute;
  left:2px;
  top:282px;
  width:1128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1095px;
  height:140px;
}
#u28886 {
  position:absolute;
  left:27px;
  top:284px;
  width:1095px;
  height:140px;
}
#u28887 {
  position:absolute;
  left:2px;
  top:62px;
  width:1091px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1095px;
  height:140px;
}
#u28888 {
  position:absolute;
  left:28px;
  top:434px;
  width:1095px;
  height:140px;
}
#u28889 {
  position:absolute;
  left:2px;
  top:62px;
  width:1091px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:18px;
}
#u28890 {
  position:absolute;
  left:52px;
  top:309px;
  width:74px;
  height:18px;
  color:#FFFFFF;
}
#u28891 {
  position:absolute;
  left:2px;
  top:1px;
  width:70px;
  word-wrap:break-word;
}
#u28892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:18px;
}
#u28892 {
  position:absolute;
  left:52px;
  top:458px;
  width:74px;
  height:18px;
  color:#FFFFFF;
}
#u28893 {
  position:absolute;
  left:2px;
  top:1px;
  width:70px;
  word-wrap:break-word;
}
