body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1061px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1061px;
  height:632px;
}
#u23213 {
  position:absolute;
  left:0px;
  top:0px;
  width:1061px;
  height:632px;
}
#u23214 {
  position:absolute;
  left:2px;
  top:308px;
  width:1057px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u23215 {
  position:absolute;
  left:895px;
  top:219px;
  width:143px;
  height:30px;
}
#u23216 {
  position:absolute;
  left:2px;
  top:7px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23217 {
  position:absolute;
  left:904px;
  top:226px;
  width:117px;
  height:15px;
  font-size:12px;
}
#u23218 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u23219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:37px;
}
#u23219 {
  position:absolute;
  left:916px;
  top:292px;
  width:116px;
  height:37px;
}
#u23220 {
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF9933;
}
#u23221 {
  position:absolute;
  left:844px;
  top:299px;
  width:159px;
  height:26px;
  font-size:12px;
  color:#FF9933;
}
#u23222 {
  position:absolute;
  left:2px;
  top:6px;
  width:155px;
  word-wrap:break-word;
}
#u23223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
}
#u23223 {
  position:absolute;
  left:74px;
  top:211px;
  width:39px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u23224 {
  position:absolute;
  left:2px;
  top:2px;
  width:35px;
  word-wrap:break-word;
}
