body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:573px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u35177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:573px;
  height:362px;
}
#u35177 {
  position:absolute;
  left:0px;
  top:0px;
  width:573px;
  height:362px;
}
#u35178 {
  position:absolute;
  left:2px;
  top:173px;
  width:569px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35179 {
  position:absolute;
  left:36px;
  top:24px;
  width:167px;
  height:35px;
}
#u35180 {
  position:absolute;
  left:2px;
  top:10px;
  width:163px;
  word-wrap:break-word;
}
