body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1079px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1079px;
  height:637px;
}
#u21330 {
  position:absolute;
  left:0px;
  top:0px;
  width:1079px;
  height:637px;
}
#u21331 {
  position:absolute;
  left:2px;
  top:310px;
  width:1075px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21332 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:51px;
}
#u21333 {
  position:absolute;
  left:228px;
  top:281px;
  width:484px;
  height:51px;
}
#u21334 {
  position:absolute;
  left:2px;
  top:18px;
  width:480px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:51px;
}
#u21335 {
  position:absolute;
  left:680px;
  top:283px;
  width:154px;
  height:51px;
}
#u21336 {
  position:absolute;
  left:2px;
  top:18px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21337 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u21338 {
  position:absolute;
  left:645px;
  top:285px;
  width:169px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u21339 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u21338_ann {
  position:absolute;
  left:807px;
  top:281px;
  width:1px;
  height:1px;
}
#u21340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u21340 {
  position:absolute;
  left:645px;
  top:317px;
  width:169px;
  height:15px;
  font-size:12px;
}
#u21341 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u21340_ann {
  position:absolute;
  left:807px;
  top:313px;
  width:1px;
  height:1px;
}
#u21342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u21342 {
  position:absolute;
  left:103px;
  top:222px;
  width:25px;
  height:22px;
  font-size:12px;
  color:#FFFFFF;
}
#u21343 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
