body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1096px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1096px;
  height:643px;
}
#u19057 {
  position:absolute;
  left:0px;
  top:0px;
  width:1096px;
  height:643px;
}
#u19058 {
  position:absolute;
  left:2px;
  top:314px;
  width:1092px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:42px;
}
#u19059 {
  position:absolute;
  left:153px;
  top:222px;
  width:218px;
  height:42px;
  color:#D7D7D7;
}
#u19060 {
  position:absolute;
  left:2px;
  top:13px;
  width:214px;
  word-wrap:break-word;
}
#u19061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:42px;
}
#u19061 {
  position:absolute;
  left:390px;
  top:222px;
  width:119px;
  height:42px;
}
#u19062 {
  position:absolute;
  left:2px;
  top:13px;
  width:115px;
  word-wrap:break-word;
}
#u19063 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:180px;
}
#u19064 {
  position:absolute;
  left:153px;
  top:264px;
  width:218px;
  height:180px;
}
#u19065 {
  position:absolute;
  left:2px;
  top:82px;
  width:214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:2px;
}
#u19066 {
  position:absolute;
  left:153px;
  top:443px;
  width:218px;
  height:1px;
}
#u19067 {
  position:absolute;
  left:2px;
  top:-8px;
  width:214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:42px;
}
#u19068 {
  position:absolute;
  left:544px;
  top:222px;
  width:121px;
  height:42px;
}
#u19069 {
  position:absolute;
  left:2px;
  top:13px;
  width:117px;
  word-wrap:break-word;
}
#u19070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u19070 {
  position:absolute;
  left:517px;
  top:231px;
  width:21px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u19071 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u19072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19072 {
  position:absolute;
  left:650px;
  top:235px;
  width:15px;
  height:16px;
}
#u19073 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u19074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:60px;
}
#u19074 {
  position:absolute;
  left:36px;
  top:213px;
  width:117px;
  height:60px;
}
#u19075 {
  position:absolute;
  left:2px;
  top:22px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
