body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1074px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u27457_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1074px;
  height:597px;
}
#u27457 {
  position:absolute;
  left:0px;
  top:0px;
  width:1074px;
  height:597px;
}
#u27458 {
  position:absolute;
  left:2px;
  top:290px;
  width:1070px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:139px;
}
#u27459 {
  position:absolute;
  left:352px;
  top:320px;
  width:375px;
  height:139px;
}
#u27460 {
  position:absolute;
  left:2px;
  top:62px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27461_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:37px;
}
#u27461 {
  position:absolute;
  left:352px;
  top:285px;
  width:385px;
  height:37px;
}
#u27462 {
  position:absolute;
  left:2px;
  top:10px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u27463 {
  position:absolute;
  left:326px;
  top:297px;
  width:85px;
  height:15px;
  font-size:12px;
}
#u27464 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u27465_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:16px;
}
#u27465 {
  position:absolute;
  left:437px;
  top:332px;
  width:218px;
  height:16px;
}
#u27466 {
  position:absolute;
  left:2px;
  top:0px;
  width:214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u27467 {
  position:absolute;
  left:431px;
  top:297px;
  width:95px;
  height:15px;
  font-size:12px;
}
#u27468 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u27469_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u27469 {
  position:absolute;
  left:330px;
  top:322px;
  width:88px;
  height:37px;
}
#u27470 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
