body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1223px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1223px;
  height:598px;
}
#u28904 {
  position:absolute;
  left:0px;
  top:0px;
  width:1223px;
  height:598px;
}
#u28905 {
  position:absolute;
  left:2px;
  top:291px;
  width:1219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28906 {
  position:absolute;
  left:55px;
  top:378px;
  width:16px;
  height:17px;
}
#u28907 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28908 {
  position:absolute;
  left:55px;
  top:426px;
  width:16px;
  height:17px;
}
#u28909 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:28px;
}
#u28910 {
  position:absolute;
  left:252px;
  top:530px;
  width:281px;
  height:28px;
}
#u28911 {
  position:absolute;
  left:2px;
  top:6px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28912 {
  position:absolute;
  left:203px;
  top:536px;
  width:79px;
  height:16px;
}
#u28913 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u28914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28914 {
  position:absolute;
  left:55px;
  top:476px;
  width:16px;
  height:17px;
}
#u28915 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
