body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1362px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u35500_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1339px;
  height:649px;
}
#u35500 {
  position:absolute;
  left:0px;
  top:0px;
  width:1339px;
  height:649px;
}
#u35501 {
  position:absolute;
  left:2px;
  top:316px;
  width:1335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35502 {
  position:absolute;
  left:1235px;
  top:386px;
  width:127px;
  height:16px;
}
#u35503 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u35504_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35504 {
  position:absolute;
  left:1235px;
  top:472px;
  width:127px;
  height:16px;
}
#u35505 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u35506_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35506 {
  position:absolute;
  left:1233px;
  top:560px;
  width:127px;
  height:16px;
}
#u35507 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u35508_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35508 {
  position:absolute;
  left:1235px;
  top:632px;
  width:127px;
  height:16px;
}
#u35509 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
