body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:793px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u49554_img {
  position:absolute;
  left:0px;
  top:0px;
  width:793px;
  height:630px;
}
#u49554 {
  position:absolute;
  left:0px;
  top:-520px;
  width:793px;
  height:630px;
}
#u49555 {
  position:absolute;
  left:2px;
  top:307px;
  width:789px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49556_img {
  position:absolute;
  left:0px;
  top:0px;
  width:753px;
  height:381px;
}
#u49556 {
  position:absolute;
  left:28px;
  top:94px;
  width:753px;
  height:381px;
}
#u49557 {
  position:absolute;
  left:2px;
  top:182px;
  width:749px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49558_div {
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49558 {
  position:absolute;
  left:78px;
  top:495px;
  width:464px;
  height:16px;
}
#u49559 {
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  white-space:nowrap;
}
#u49560_img {
  position:absolute;
  left:0px;
  top:0px;
  width:733px;
  height:393px;
}
#u49560 {
  position:absolute;
  left:38px;
  top:941px;
  width:733px;
  height:393px;
}
#u49561 {
  position:absolute;
  left:2px;
  top:188px;
  width:729px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49562_img {
  position:absolute;
  left:0px;
  top:0px;
  width:753px;
  height:388px;
}
#u49562 {
  position:absolute;
  left:28px;
  top:531px;
  width:753px;
  height:388px;
}
#u49563 {
  position:absolute;
  left:2px;
  top:186px;
  width:749px;
  visibility:hidden;
  word-wrap:break-word;
}
