body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1234px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u29759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1234px;
  height:622px;
}
#u29759 {
  position:absolute;
  left:0px;
  top:0px;
  width:1234px;
  height:622px;
}
#u29760 {
  position:absolute;
  left:2px;
  top:303px;
  width:1230px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29761 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u29762 {
  position:absolute;
  left:573px;
  top:389px;
  width:83px;
  height:16px;
  font-size:13px;
}
#u29763 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u29764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u29764 {
  position:absolute;
  left:805px;
  top:389px;
  width:8px;
  height:16px;
  font-size:13px;
}
#u29765 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u29766_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
}
#u29766 {
  position:absolute;
  left:667px;
  top:386px;
  width:134px;
  height:19px;
}
#u29767 {
  position:absolute;
  left:2px;
  top:2px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29768 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u29769 {
  position:absolute;
  left:573px;
  top:547px;
  width:40px;
  height:16px;
  font-size:13px;
}
#u29770 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u29771_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u29771 {
  position:absolute;
  left:805px;
  top:547px;
  width:8px;
  height:16px;
  font-size:13px;
}
#u29772 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u29773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
}
#u29773 {
  position:absolute;
  left:667px;
  top:544px;
  width:134px;
  height:19px;
}
#u29774 {
  position:absolute;
  left:2px;
  top:2px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
