body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1240px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u29889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:641px;
}
#u29889 {
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:641px;
}
#u29890 {
  position:absolute;
  left:2px;
  top:312px;
  width:1236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29891 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1166px;
  height:109px;
}
#u29892 {
  position:absolute;
  left:37px;
  top:352px;
  width:1166px;
  height:109px;
  font-size:12px;
}
#u29893 {
  position:absolute;
  left:2px;
  top:46px;
  width:1162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29894 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u29895 {
  position:absolute;
  left:165px;
  top:367px;
  width:154px;
  height:23px;
  font-size:12px;
}
#u29896 {
  position:absolute;
  left:2px;
  top:4px;
  width:150px;
  word-wrap:break-word;
}
#u29897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u29897 {
  position:absolute;
  left:353px;
  top:367px;
  width:256px;
  height:23px;
  font-size:12px;
}
#u29898 {
  position:absolute;
  left:2px;
  top:4px;
  width:252px;
  word-wrap:break-word;
}
#u29899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u29899 {
  position:absolute;
  left:641px;
  top:367px;
  width:184px;
  height:23px;
  font-size:12px;
}
#u29900 {
  position:absolute;
  left:2px;
  top:4px;
  width:180px;
  word-wrap:break-word;
}
#u29901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u29901 {
  position:absolute;
  left:859px;
  top:367px;
  width:139px;
  height:23px;
  font-size:12px;
}
#u29902 {
  position:absolute;
  left:2px;
  top:4px;
  width:135px;
  word-wrap:break-word;
}
#u29903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u29903 {
  position:absolute;
  left:1028px;
  top:367px;
  width:91px;
  height:23px;
  font-size:12px;
}
#u29904 {
  position:absolute;
  left:2px;
  top:4px;
  width:87px;
  word-wrap:break-word;
}
#u29905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u29905 {
  position:absolute;
  left:165px;
  top:406px;
  width:376px;
  height:15px;
  font-size:12px;
}
#u29906 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  white-space:nowrap;
}
#u29907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u29907 {
  position:absolute;
  left:39px;
  top:371px;
  width:108px;
  height:15px;
  font-size:12px;
}
#u29908 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u29909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u29909 {
  position:absolute;
  left:54px;
  top:406px;
  width:78px;
  height:15px;
  font-size:12px;
}
#u29910 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
