body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1107px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1107px;
  height:639px;
}
#u19076 {
  position:absolute;
  left:0px;
  top:0px;
  width:1107px;
  height:639px;
}
#u19077 {
  position:absolute;
  left:2px;
  top:312px;
  width:1103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19078 {
  position:absolute;
  left:391px;
  top:131px;
  width:264px;
  height:37px;
}
#u19079 {
  position:absolute;
  left:2px;
  top:10px;
  width:260px;
  word-wrap:break-word;
}
#u19080 {
  position:absolute;
  left:665px;
  top:142px;
  width:100px;
  height:16px;
}
#u19081 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u19080_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19082 {
  position:absolute;
  left:775px;
  top:142px;
  width:121px;
  height:16px;
}
#u19083 {
  position:absolute;
  left:16px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u19082_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19084 {
  position:absolute;
  left:324px;
  top:306px;
  width:29px;
  height:16px;
}
#u19085 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D7D7D7;
}
#u19086 {
  position:absolute;
  left:661px;
  top:307px;
  width:29px;
  height:16px;
  color:#D7D7D7;
}
#u19087 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:14px;
}
#u19088 {
  position:absolute;
  left:632px;
  top:309px;
  width:19px;
  height:14px;
}
#u19089 {
  position:absolute;
  left:2px;
  top:-1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
