body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1054px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1054px;
  height:630px;
}
#u19779 {
  position:absolute;
  left:0px;
  top:0px;
  width:1054px;
  height:630px;
}
#u19780 {
  position:absolute;
  left:2px;
  top:307px;
  width:1050px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19781 {
  position:absolute;
  left:320px;
  top:247px;
  width:411px;
  height:291px;
  overflow:hidden;
}
#u19781_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:291px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19781_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19782_div {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:291px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19782 {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:291px;
}
#u19783 {
  position:absolute;
  left:2px;
  top:138px;
  width:405px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19784_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u19784 {
  position:absolute;
  left:9px;
  top:8px;
  width:105px;
  height:16px;
  font-size:13px;
}
#u19785 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u19786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:2px;
}
#u19786 {
  position:absolute;
  left:9px;
  top:30px;
  width:105px;
  height:1px;
}
#u19787 {
  position:absolute;
  left:2px;
  top:-8px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19788_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u19788 {
  position:absolute;
  left:28px;
  top:52px;
  width:347px;
  height:92px;
  text-align:left;
}
#u19789 {
  position:absolute;
  left:2px;
  top:14px;
  width:343px;
  word-wrap:break-word;
}
#u19790_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19790 {
  position:absolute;
  left:9px;
  top:41px;
  width:15px;
  height:16px;
}
#u19791 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u19792 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u19793 {
  position:absolute;
  left:69px;
  top:242px;
  width:92px;
  height:30px;
}
#u19794 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u19795_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u19795 {
  position:absolute;
  left:222px;
  top:242px;
  width:92px;
  height:30px;
}
#u19796 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u19797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#BCBCBC;
}
#u19797 {
  position:absolute;
  left:28px;
  top:164px;
  width:230px;
  height:15px;
  font-size:12px;
  color:#BCBCBC;
}
#u19798 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  white-space:nowrap;
}
#u19799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#BCBCBC;
}
#u19799 {
  position:absolute;
  left:62px;
  top:185px;
  width:174px;
  height:15px;
  font-size:12px;
  color:#BCBCBC;
}
#u19800 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u19801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#BCBCBC;
}
#u19801 {
  position:absolute;
  left:62px;
  top:206px;
  width:212px;
  height:15px;
  font-size:12px;
  color:#BCBCBC;
}
#u19802 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  white-space:nowrap;
}
