body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-32px;
  width:1054px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11666 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1054px;
  height:50px;
}
#u11667 {
  position:absolute;
  left:32px;
  top:107px;
  width:1054px;
  height:50px;
}
#u11668 {
  position:absolute;
  left:2px;
  top:17px;
  width:1050px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u11669 {
  position:absolute;
  left:52px;
  top:116px;
  width:154px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11670 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u11671 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u11672 {
  position:absolute;
  left:261px;
  top:118px;
  width:11px;
  height:11px;
}
#u11673 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11674 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#868686;
}
#u11675 {
  position:absolute;
  left:640px;
  top:118px;
  width:71px;
  height:16px;
  color:#868686;
}
#u11676 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u11677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#868686;
}
#u11677 {
  position:absolute;
  left:83px;
  top:131px;
  width:92px;
  height:14px;
  font-size:11px;
  color:#868686;
}
#u11678 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u11679 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11680 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
  text-align:center;
}
#u11681 {
  position:absolute;
  left:330px;
  top:114px;
  width:171px;
  height:14px;
  color:#949494;
  text-align:center;
}
#u11682 {
  position:absolute;
  left:0px;
  top:-1px;
  width:171px;
  word-wrap:break-word;
}
#u11683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u11683 {
  position:absolute;
  left:552px;
  top:118px;
  width:11px;
  height:11px;
}
#u11684 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
