body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1235px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u31458 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1219px;
  height:156px;
}
#u31459 {
  position:absolute;
  left:10px;
  top:633px;
  width:1219px;
  height:156px;
}
#u31460 {
  position:absolute;
  left:2px;
  top:70px;
  width:1215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31461 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31462 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31463_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:66px;
}
#u31463 {
  position:absolute;
  left:954px;
  top:704px;
  width:259px;
  height:66px;
}
#u31464 {
  position:absolute;
  left:2px;
  top:25px;
  width:255px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31465_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:23px;
}
#u31465 {
  position:absolute;
  left:1141px;
  top:700px;
  width:64px;
  height:23px;
}
#u31466 {
  position:absolute;
  left:2px;
  top:4px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31467_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u31467 {
  position:absolute;
  left:1110px;
  top:652px;
  width:103px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u31468 {
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  word-wrap:break-word;
}
#u31469_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1235px;
  height:632px;
}
#u31469 {
  position:absolute;
  left:0px;
  top:0px;
  width:1235px;
  height:632px;
}
#u31470 {
  position:absolute;
  left:2px;
  top:308px;
  width:1231px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31471 {
  position:absolute;
  left:23px;
  top:659px;
  width:110px;
  height:17px;
}
#u31472 {
  position:absolute;
  left:2px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u31473_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:26px;
}
#u31473 {
  position:absolute;
  left:1123px;
  top:697px;
  width:82px;
  height:26px;
  text-decoration:underline;
}
#u31474 {
  position:absolute;
  left:2px;
  top:5px;
  width:78px;
  word-wrap:break-word;
}
